{% extends "layouts/main.html" %}

{% set pageName="Movement reported" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Movement reported
      </h1>
    </div>

    <p class="govuk-body">We have received your report of this movement.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">The animals' records will be updated to show the movement.</p>

    <p class="govuk-body">
      <a href="/livestock-usability/v4/start" class="govuk-link">Return to the Livestock Information Service</a>
    </p>

  </div>
</div>

{% endblock %}
