{% extends "layouts/main.html" %}

{% set pageName="Livestock Information Service" %}

{% block header %}


{{ govukHeader({
homepageUrl: "/index.html"
}) }}
<div class="govuk-service-navigation app-account-context ">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <div class="govuk-service-navigation__service-name">
          <span class="govuk-service-navigation__text">
            You are viewing the account for
          </span>

        <strong class="govuk-service-navigation__text">
          Oakfield Farm
        </strong>

        <span class="govuk-service-navigation__text">
            CPH 12/345/0001
          </span>
      </div>

      <nav
              class="govuk-service-navigation__wrapper"
              aria-label="Administrator account access"
      >
        <ul class="govuk-service-navigation__list">
          <li class="govuk-service-navigation__item">
            <a
                    class="govuk-service-navigation__link"
                    href="/animals-on-holding/v1/holdings/holding-001"
            >
              Exit account
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
{{ govukServiceNavigation({
serviceName: "Livestock Information",
serviceUrl: "/animals-on-holding/v1/start",
navigation: [
{
href: "/animals-on-holding/v1/my-holdings",
text: "My holdings",
active: activeNav === "my-holdings"
},
{
href: "/animals-on-holding/v1/my-services",
text: "My services"
},
{
href: "/animals-on-holding/v1/activity-history",
text: "Activity history"
},
{
href: "/animals-on-holding/v1/profile-settings",
text: "Profile and settings"
}
]
}) }}





{% endblock %}

{% block beforeContent %}
<style>
  .app-account-context {
  background-color: #d2e2f1;
  border-bottom: 1px solid #1d70b8;
}
</style>
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">
    Livestock Information Service
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="global-search">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="./register-an-animal">
            Register an animal
          </a>
        </h2>
        <p class="govuk-body card__description">
          Register cattle births, or camelids on your holding.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">
            Report an animal movement
          </a>
        </h2>
        <p class="govuk-body card__description">
          Report movements on and off your holding.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="use-of-force">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="./report-death/animal-select">
            Report an animal death
          </a>
        </h2>
        <p class="govuk-body card__description">
          Report a death of registered and unregistered animals on your holding.
        </p>
      </div>
    </li>
  </ul>
</div>

{% endblock %}
