{% extends "layouts/main.html" %}


{% set pageName="Holding details" %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "holding-details" %}

{% block header %}

  {% include "mvp-front-office/v4/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v4/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v4/my-holdings">My holdings</a>
    </li>
   <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v4/my-holdings/holding-details">
        {{ holding.holdingName if holding.holdingName else holding.cph }}
      </a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Oakfield Farm</span>
      <h1 class="govuk-heading-l">Holding details</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">
          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="/mvp-front-office/v4/my-holdings/holding-details">Holding details</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/mvp-front-office/v4/my-holdings/animals-on-holding">
                Animals on holding
              </a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/mvp-front-office/v4/my-holdings/submissions">
                Submissions
              </a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/mvp-front-office/v4/my-holdings/animal-error-record">
                Animal error record
              </a>
            </li>
          </ul>
        </nav>

        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">CPH number</dt>
          <dd class="govuk-summary-list__value">{{ holding.cph }}</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Holding name</dt>
          <dd class="govuk-summary-list__value">{{ holding.holdingName }}</dd>
        </div>

        {% if holding.businessName %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Business name</dt>
          <dd class="govuk-summary-list__value">{{ holding.businessName }}</dd>
        </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            {{ holding.address.addressLine1 }}
            {% if holding.address.addressLine2 %}<br>{{ holding.address.addressLine2 }}{% endif %}
            <br>{{ holding.address.town }}
            <br>{{ holding.address.county }}
            <br>{{ holding.address.postcode }}
            {% if holding.address.country %}<br>{{ holding.address.country }}{% endif %}
          </dd>
        </div>

       <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Holding type</dt>
          <dd class="govuk-summary-list__value">{{ holding.holdingType }}</dd>
        </div>-->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Registered keeper</dt>
          <dd class="govuk-summary-list__value">{{ holding.keeper.name }}</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Herd mark</dt>
          <dd class="govuk-summary-list__value">{{ holding.herdmark }}</dd>
        </div>

      </dl>

  </div>
</div>

{% endblock %}
