{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – Livestock reporting – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Livestock reporting
      </h1>

      <p>
        This service replaces Cattle Tracing System (CTS) online.
      </p>
      
      <p class="govuk-body">Use this service to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>report births, deaths and movements</li>
  <li>view your animal records</li>
  <li>update your details</li>
</ul>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        To use this service you need a County Parish Holding (CPH) number.
      </p>

      <p>
If you do not have a CPH number, you'll need to <a href="https://www.gov.uk/guidance/apply-for-a-county-parish-holding-cph-number">set up as a livestock keeper</a> first. When you're set up, you can create your account. 
      </p>

       <h3 class="govuk-heading-m">
        Sign in or create your account
      </h3>

            <p>
If you already have an account, you will be able to sign in, or create one if you haven't already.
</p>

      {{ govukButton({
        text: "Start now",
        href: "",
        isStartButton: true
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/apply-for-a-county-parish-holding-cph-number">
                Apply for a county parish holding (CPH) number
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/collections/keeping-cattle-bison-and-buffalo-in-england-and-wales">
                Keeping cattle, bison and buffalo in England and Wales
              </a>
            </li>
            
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
