{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName = "Remove delegate" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v2/start"
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/animals-on-holding/v2/holdings/{{ holding.id }}/remove-delegate" method="post" novalidate>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Are you sure you want to remove this delegate?</h1>
        </legend>
        <p class="govuk-body">{{ data.currentDelegate.email }}</p>
      </fieldset>

      {{ govukButton({
        text: "Remove delegate",
        classes: "govuk-button--warning"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
