{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageName = "Holding details" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v2/start"
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">County Parish Holding: {{ holding.cph }}</span>
    <h1 class="govuk-heading-l">{{ holding.holdingName }}</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#1">Livestock</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#2">Holding details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Manage delegates</a>
        </li>
      </ul>
    </nav>

    {% set livestockHtml %}

    <h2 class="govuk-heading-m">Livestock</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Species</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-!-font-weight-bold" href="/animals-on-holding/v2/cattle">Cattle</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sheep</span></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Goats</span></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
        </tr>
      </tbody>
    </table>

    {% endset %}


    {% set delegatesHtml %}

    <h2 class="govuk-heading-m">Keeper details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Keeper name</dt>
        <dd class="govuk-summary-list__value">{{ holding.keeper.name }}</dd>
      </div>
    </dl>

    {% endset %}


    {% set holdingDetailsHtml %}

    <h2 class="govuk-heading-m">Holding details</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">County Parish Holding Number</dt>
        <dd class="govuk-summary-list__value">{{ holding.cph }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Holding name</dt>
        <dd class="govuk-summary-list__value">{{ holding.holdingName }}</dd>
      </div>

      {% if holding.businessName %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Business name</dt>
        <dd class="govuk-summary-list__value">{{ holding.businessName }}</dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">
          {{ holding.address.addressLine1 }}
          {% if holding.address.addressLine2 %}<br>{{ holding.address.addressLine2 }}{% endif %}
          <br>{{ holding.address.town }}
          <br>{{ holding.address.county }}
          <br>{{ holding.address.postcode }}
          {% if holding.address.country %}<br>{{ holding.address.country }}{% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Holding type</dt>
        <dd class="govuk-summary-list__value">{{ holding.holdingType }}</dd>
      </div>

    <!--  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Role</dt>
        <dd class="govuk-summary-list__value">{{ holding.role }}</dd>
      </div>-->

     <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          {% if holding.status === "Active" %}
            <strong class="govuk-tag govuk-tag&#45;&#45;green">Active</strong>
          {% elseif holding.status === "Inactive" %}
            <strong class="govuk-tag govuk-tag&#45;&#45;yellow">Inactive</strong>
          {% elseif holding.status === "Closed" %}
            <strong class="govuk-tag govuk-tag&#45;&#45;grey">Closed</strong>
          {% else %}
          {{ holding.status }}
          {% endif %}
        </dd>
      </div>-->


      {% for item in holding.herdAndFlockMarks %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{% if item.species === "Cattle" %}Herd mark{% else %}Flock mark{% endif %}</dt>
        <dd class="govuk-summary-list__value">{{ item.mark }}</dd>
      </div>
      {% endfor %}

    </dl>

    {% endset %}


    {{ govukTabs({
      items: [
        {
          label: "Livestock",
          id: "livestock",
          panel: { html: livestockHtml }
        },
        {
          label: "Holding details",
          id: "holding-details",
          panel: { html: holdingDetailsHtml }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
