{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="My holdings" %}

{% set activeNav = "my-holdings" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v2/start",
    navigation: [
      {
      href: "/animals-on-holding/v2/my-holdings",
      text: "My holdings",
      active: activeNav === "my-holdings"
      },
      {
      href: "/animals-on-holding/v2/my-services",
      text: "My services"
      },
      {
        href: "/animals-on-holding/v2/activity-history",
        text: "Activity history"
      },
      {
        href: "/animals-on-holding/v2/profile-settings",
        text: "Profile and settings"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    My holdings
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">County Parish Holding Number</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Role</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-!-font-weight-bold" href="/animals-on-holding/v2/123456789">
              12/345/6789
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            Owner
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-!-font-weight-bold" href="#">
              12/345/6790
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            Keeper
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-!-font-weight-bold" href="#">
              12/345/6791
            </a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            Agent
          </td>
        </tr>

        </tbody>
      </table>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Claim a holding",
      classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>
</div>

{% endblock %}
