{% extends "layouts/main.html" %}

{% block pageTitle %}
AHWR date – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/ahwr-date-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "ahwr-date-answer",
      fieldset: {
      legend: {
      text: "Did you conduct the Animal Health and Welfare Review on 12 January 2026?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}