{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Review the keeper's answers
    </h1>
    <p>
      If you see anything that you disagree with, you may want to discuss this with the keeper.
    </p>
    {{ govukSummaryList({
    rows: [
    {
    key: {
    text: "When was your Annual Health and Welfare Visit date?"
    },
    value: {
    text: "12 January 2026"
    }
    },
    {
    key: {
    text: "What is your vet's RCVS number?"
    },
    value: {
    text: "1234567"
    }
    },

    {
    key: {
    text: "Vet name"
    },
    value: {
    text: "John Smith"
    }
    },
    {
    key: {
    text: "What types of farming do you do?"
    },
    value: {
    html: "Beef"
    }
    },
    {
    key: {
    text: "What types of beef farming do you have?"
    },
    value: {
    text: "Beef sucklers"
    }
    },
    {
    key: {
    text: "Where do you house your cattle?"
    },
    value: {
    text: "Indoors"
    }
    },
    {
    key: {
    text: "Over the last 12 months, how many unique cows in your herd have been treated for mastitis at least once?"
    },
    value: {
    text: "2"
    }
    },
    {
    key: {
    text: "Over the last 12 months how many unique cows were severely lame?"
    },
    value: {
    text: "1"
    }
    },
    {
    key: {
    text: "Over the last 12 months how many calves were born alive?"
    },
    value: {
    text: "45"
    }
    },
    {
    key: {
    text: "Have you used any BVD vaccine in your herd in the last 12 months?"
    },
    value: {
    text: "Yes"
    }
    },
    {
    key: {
    text: "Has a biosecurity assessment been completed?"
    },
    value: {
    text: "Yes"
    }
    },
    {
    key: {
    text: "When was your biosecurity assessment completed?"
    },
    value: {
    text: "12 January 2026"
    }
    },
    {
    key: {
    text: "What was your biosecurity assessment score?"
    },
    value: {
    text: "80"
    }
    }
    ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Continue",
      href: "/vetvisitconfirmation/ahwr-date-accept"
      }) }}
    </div>
  </div>
</div>
{% endblock %}