{% extends "layouts/main.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
Rejection – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
    titleText: "AHWR not confirmed",
    html: "Your reference number<br><strong>HDJ2123F</strong>"
    }) }}

    <p class="govuk-body">Thank you for confirming that you did not attend a AHWR or assess for biosecurity on the dates
      stated.</p>

    <p>
      We have sent you and the keeper a confirmation email.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      The keeper will either have to provide the correct dates or arrange an AHWR or biosecurity assessment.
    </p>
    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>

    {{ govukButton({
    text: "Continue",
    href: "/vetvisitconfirmation/cph-less-one"
    }) }}
  </div>
</div>

{% endblock %}