{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Cattle register" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v3/holding-information"
  }) }}

{% endblock %}

{% block content %}

<span class="govuk-caption-l">CPH number: 12/345/0001</span>
<h1 class="govuk-heading-l">
  Oakfield Farm
</h1>

<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="/animals-on-holding/v3/holding-information">Holding details</a>
    </li>
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="/animals-on-holding/v3/cattle-register">Livestock information</a>
    </li>
  </ul>
</nav>

<div>

 <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="GET" >
        <div class="search-wrapper govuk-form-group">
          <label for="search-reservations" class="govuk-label">
            Search by animal ear tag number or breed
          </label>
          <div class="search-input-wrapper">
            <input type="search" value="" id="search-reservations" name="search" title="Search" class="govuk-input">
            <div class="search-input-submit-wrapper">
              <button type="submit" class="search-submit">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>-->

  <div>

  <!--  <p class="govuk-body" aria-live="polite">
      {% if search %}
        {{ cattle.length }}
        {% if cattle.length === 1 %}
          registered cattle record matches
        {% else %}
          registered cattle records match
        {% endif %}
        <strong>'{{ search }}'</strong>
      {% else %}
        {{ cattle.length }} registered cattle
      {% endif %}
    </p>-->

   <!-- {% if search %}
    <p class="govuk-body">
      <a class="govuk-link" href="/animals-on-holding/v3/cattle-register">Clear search</a>
    </p>
    {% endif %}-->

    {% if cattle.length %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Ear tag number</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
          <th scope="col" class="govuk-table__header">Date registered</th>
          <th scope="col" class="govuk-table__header">Sex</th>
          <th scope="col" class="govuk-table__header">Breed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for animal in cattle %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link" href="/animals-on-holding/v3/cattle/{{ animal.earTagNumber }}">{{ animal.earTagNumber | formatReference }}</a>
          </th>
          <td class="govuk-table__cell">{{ animal.dateOfBirth | shortDateFormat }}</td>
          <td class="govuk-table__cell">{{ animal.dateOfRegistration | shortDateFormat }}</td>
          <td class="govuk-table__cell">{{ animal.sex | sexInitial }}</td>
          <td class="govuk-table__cell">
            {{ animal.breed.name }}
            {% if animal.breed.code %}({{ animal.breed.code }}){% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="govuk-inset-text">
      No cattle records found{% if search %} for "{{ search }}"{% endif %}.
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}
