{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName = "Before you send the invitation" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v3/holding-information"
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Before you send the invitation</h1>

    <p class="govuk-body">If your delegate does not yet have a Defra account or GOV.UK One Login, they will be asked to create one before they can accept your invitation.</p>

    <form action="/animals-on-holding/v3/holdings/{{ holding.id }}/delegate-account-info" method="post" novalidate>
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
