{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName = "Holding details" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v3/holding-information"
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">County Parish Holding: {{ holding.cph }}</span>
    <h1 class="govuk-heading-l">{{ holding.holdingName }}</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/animals-on-holding/v3/holdings/{{ holding.id }}/holding-details">Holding information</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/animals-on-holding/v3/holdings/{{ holding.id }}">Livestock register</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-m">Livestock</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Species</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-!-font-weight-bold" href="/animals-on-holding/v3/cattle">Cattle</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sheep</span></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Goats</span></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
