{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: { 
              text: "When was your Annual Health and Welfare Visit date?" 
            },
            value: {
              text: (data['visit-date-day'] + " " + data['visit-date-month'] + " " + data['visit-date-year']) if data['visit-date-day'] else "Not answered"
            },
            actions: {
              items: [
                {
                  href: "/vetvisits/visit-date",
                  text: "Change",
                  visuallyHiddenText: "When was your Annual Health and Welfare Visit date?"
                }
              ]
            }
          },
          {
            key: { 
              text: "What is your vet's RCVS number?" 
            },
            value: {
              text: data['rcvs-number'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "/vetvisits/rcvs-number",
                  text: "Change",
                  visuallyHiddenText: "What is your vet's RCVS number?"
                }
              ]
            }
          },
          
          {
            key: { 
              text: "Vet name" 
            },
            value: {
              text: "John Smith"
            },
            actions: {
              items: [
                {
                  href: "/vetvisits/rcvs-number",
                  text: "Change",
                  visuallyHiddenText: "Vet name"
                }
              ]
            }
          },
          {
            key: { 
              text: "What types of farming do you do?" 
            },
            value: {
              html: (data['farmtypes'] | join('<br>')) if data['farmtypes'] else "Not answered"
            },
            actions: {
              items: [
                {
                  href: "/vetvisits/farm-structure",
                  text: "Change",
                  visuallyHiddenText: "What types of farming do you do?"
                }
              ]
            }
          },
          {
            key: {
              text: "What types of beef farming do you have?"
            },
            value: {
              text: data['beef-farm-type'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "beef-farm-type",
                  text: "Change",
                  visuallyHiddenText: "What types of beef farming do you have?"
                }
              ]
            }
          },
          {
            key: {
              text: "Where do you house your cattle?"
            },
            value: {
              text: data['beef-housing'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "beef-housing",
                  text: "Change",
                  visuallyHiddenText: "Where do you house your cattle?"
                }
              ]
            }
          },
          {
            key: {
              text: "Over the last 12 months, how many unique cows in your herd have been treated for mastitis at least once?"
            },
            value: {
              text: data['mastitis'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "mastitis",
                  text: "Change",
                  visuallyHiddenText: "Over the last 12 months, how many unique cows in your herd have been treated for mastitis at least once?"
                }
              ]
            }
          },
          {
            key: {
              text: "Over the last 12 months how many unique cows were severely lame?"
            },
            value: {
              text: data['severely-lame'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "severely-lame",
                  text: "Change",
                  visuallyHiddenText: "Over the last 12 months how many unique cows were severely lame?"
                }
              ]
            }
          },
          {
            key: {
              text: "Over the last 12 months how many calves were born alive?"
            },
            value: {
              text: data['neonatal-survival'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "neonatal-survival",
                  text: "Change",
                  visuallyHiddenText: "Over the last 12 months how many calves were born alive?"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you an approved finishing unit?"
            },
            value: {
              text: data['finishing-unit'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "finishing-unit",
                  text: "Change",
                  visuallyHiddenText: "Are you an approved finishing unit?"
                }
              ]
            }
          },
          {
            key: {
              text: "Were 99% of the animals on your holding born there?"
            },
            value: {
              text: data['born-on-holding'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "born-on-holding",
                  text: "Change",
                  visuallyHiddenText: "Were 99% of the animals on your holding born there?"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you used any BVD vaccine in your herd in the last 12 months?"
            },
            value: {
              text: data['vaccination-status'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "vaccination-status",
                  text: "Change",
                  visuallyHiddenText: "Have you used any BVD vaccine in your herd in the last 12 months?"
                }
              ]
            }
          },
          {
            key: {
              text: "Has a biosecurity assessment been completed?"
            },
            value: {
              text: data['biosecurity-assessment-completed'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-assessment",
                  text: "Change",
                  visuallyHiddenText: "Has a biosecurity assessment been completed?"
                }
              ]
            }
          },
          {
            key: {
              text: "When was your biosecurity assessment completed?"
            },
            value: {
              text: data['biosecurity-assessment-date-day'] + " " + data['biosecurity-assessment-date-month'] + " " + data['biosecurity-assessment-date-year'] if data['biosecurity-assessment-date-day'] else "Not answered"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-assessment",
                  text: "Change",
                  visuallyHiddenText: "When was your biosecurity assessment completed?"
                }
              ]
            }
          },
          {
            key: {
              text: "What was your biosecurity assessment score?"
            },
            value: {
              text: data['biosecurity-assessment-score'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-assessment",
                  text: "Change",
                  visuallyHiddenText: "What was your biosecurity assessment score?"
                }
              ]
            }
          },
          {
            key: {
              text: "Cattle yearly antibiotic use?"
            },
            value: {
              text: data['antibiotics-volume'] + " mg/PCU" if data['antibiotics-volume'] else "Not answered"
            },
            actions: {
              items: [
                {
                  href: "cattle-antibiotics",
                  text: "Change",
                  visuallyHiddenText: "Cattle yearly antibiotic use?"
                }
              ]
            }
          },
          {
            key: {
              text: "Antibiotic type?"
            },
            value: {
              text: data['antibiotic-type'] or "Not answered"
            },
            actions: {
              items: [
                {
                  href: "cattle-antibiotics",
                  text: "Change",
                  visuallyHiddenText: "Antibiotic type?"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/vetvisits/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}