{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/vetvisits/mobility" method="post">
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Over the last 12 months how many unique cows in your herd have been treated for mastitis at least once?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "event-name",
  classes: "govuk-input--width-10",
  name: "eventName",
  attributes: {
    "maxlength": "7",
    "inputmode": "numeric",
    "pattern": "[0-9]*"
  }
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
