{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Mobility - {{serviceName}} - GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/vetvisits/neonatal-survival" method="post">

      {{ govukInput({
      label: {
      html: '<span class="govuk-caption-l">Cattle</span>
      Over the last year, how many cows were severely lame?',
      classes: "govuk-label--l",
      isPageHeading: true
      },
      id: "severely-lame",
      classes: "govuk-input--width-10",
      name: "severely-lame"
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}