{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vet Visits – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Vaccination status
      </h1>

      <form class="form" action="/vetvisits/pig-biosecurity" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "prrs-vaccines",
  fieldset: {
    legend: {
      text: "Have you used any PRRS vaccines in the last 6 months?",
      classes: "govuk-fieldset__legend--m"
    }
  },
    items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "prrs-sows",
  fieldset: {
    legend: {
      text: "If you have sows, are you currently vaccinating them against PRRS?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "pigs-vaccinated",
  fieldset: {
    legend: {
      text: "Are any pigs vaccinated - even before they were moved to your holding?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}