{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vet visits – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        PRRS Testing Eligibility
      </h1>

      <form class="form" action="/vetvisits/pig-vaccination-status" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "prrs-slaughter",
  fieldset: {
    legend: {
      text: "Do you only send animals to slaughter?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "prrs-shows",
  fieldset: {
    legend: {
      text: "Do you send animals to shows?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
