{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your vet's RCVS number?
      </h1>

      <form class="form" action="/vetvisits/vet-confirmation" method="post">

{{ govukInput({
  label: {
    text: "RCVS number"
  },
  classes: "govuk-input--width-10",
  id: "rcvs-number",
  name: "rcvs-number",
  hint: {
    text: "Your vet's RCVS number is a 7 digit number. For example, 1234567."
  },
  attributes: {
    "maxlength": "7",
    "inputmode": "numeric",
    "pattern": "[0-9]*"
  }
}) }}


        {{ govukButton({
          text: "Search"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
