{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/vetvisits/ewe-mortality" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "sheep-housing",
      fieldset: {
      legend: {
      text: "Where do you house your sheep?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items:
      [
      {
      value: "indoor",
      text: "Indoors"
      },
      {
      value: "outdoor",
      text: "Outdoors"
      },
      {
      value: "mixed",
      text: "Mixed"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
