{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vet Visits – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is the email address of your vet?
      </h1>

      <form class="form" action="/vetvisits/farm-assurance-scheme" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: ""
  },
  hint: {
    text: "They need to confirm the visit"
  },
  id: "vet-email",
  name: "vet-email",
  type: "email",
  spellcheck: false
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
