{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm BVD Status – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/bvdvetconfirmation/confirmation" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
      name: "rejection-reason",
      id: "rejection-reason",
      label: {
      text: "Give your reasons for why you are changing the status of this herd.",
      classes: "govuk-label--l",
      isPageHeading: true
      }
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}