{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if bvdStatusError %}Error: {% endif %}Confirm BVD Status – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
titleText: "There is a problem",
errorList: errorList
}) if errorList }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    <form action="/status-answer" method="post" novalidate>

      {{ govukRadios({
      name: "bvdStatus",
      errorMessage: bvdStatusError,
      fieldset: {
      legend: {
      text: "Decide BVD status for herd UK 123456",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "positive",
      text: "Positive",
      hint: { text: "Select this status for a herd that has returned a virus-positive test result or currently contains
      a Persistently Infected (PI) animal." }
      },
      {
      value: "not-negative",
      text: "Not negative",
      hint: { text: "Select this status for herds that have returned a positive antibody test. These herds will require
      further virus testing, such as a PI hunt, to locate the source of the virus." }
      },
      {
      value: "working-towards-negative",
      text: "Working towards negative",
      hint: { text: "Select this status for herds that have completed one period of negative check testing but are
      waiting for the results of the next one, OR for herds that are using the tag-and-test method for calves but have
      not yet achieved 24 months of negative tests." }
      },
      {
      value: "negative",
      text: "Negative",
      hint: { text: "Select this status for herds that have tested negative at their most recent round of testing AND
      have either completed 12 months of check testing (which must include a minimum of two calving cycles) or completed
      24 months of tag and test (using official tags only)." }
      }
      ]
      }) }}

      {{ govukButton({
      text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}