{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/cattle-antibiotics" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "biosecurity-assessment-completed",
  fieldset: {
    legend: {
      text: "Has a biosecurity assessment been completed?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}  

{{ govukDateInput({
  id: "biosecurity-assessment-date",
  namePrefix: "biosecurity-assessment-date",
  fieldset: {
    legend: {
      text: "When was your biosecurity assessment completed?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  }
}) }}

<h1 class="govuk-heading-m">What was your biosecurity assessment score?</h1>

{{ govukInput({
    id: "biosecurity-assessment-score",
    name: "biosecurityAssessmentScore",
    autocomplete: "address-line1"
      }) }}

          {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
