{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sheep farm type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/sheep-housing" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "sheep-farm-type",
  fieldset: {
    legend: {
      text: "What type of sheep farm do you have?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "sheep-breeding-flock",
      text: "Sheep breeding flock"
    },
    {
      value: "lamb-finisher",
      text: "Lamb finisher / store producer"
    },
    {
      value: "sheep-milking-flock",
      text: "Sheep milking flock"
    },
    {
      value: "sheep-non-commercial",
      text: "Pets/non-commercial"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
