{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

  <p class="govuk-body">The Animal Health and Welfare Review (AHWR) is a mandatory annual requirement. You must arrange a visit with your vet to review the health and welfare of your livestock. Use this service to record the outcome of your visit and submit the required data to Defra.</p>

      {{ govukButton({
        text: "Start now",
        href: "/farm-assurance-scheme",
        isStartButton: true
      }) }}

 
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/animal-health-and-welfare-pathway/animal-health-and-welfare-pathway">
                Animal Health and Welfare Pathway
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/organisations/defra">
                Defra
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
