{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Animal detail view" %}

{% set activeNav = "animals" %}

{% block header %}

{% block navBar %}{% include "./components/_navigation.html" %}{% endblock %}

{% endblock %}

{% block beforeContent %}
{% set pathParts = currentPath.split('/') %}
{% set currentBaseUrl = '/' + pathParts[1] + '/' + pathParts[2] + '/' + pathParts[3] + '/' %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: currentBaseUrl+"home"
},
{
text: "Animals",
href: currentBaseUrl+"cattle"
}
]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

          <span class="govuk-caption-l">
            Registered cattle
          </span>

      <h1 class="govuk-heading-l">
        {{ animal.earTagNumber  | formatReference }}
      </h1>


      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a
                    class="moj-sub-navigation__link"
                    href="../{{ animal.earTagNumber }}"
            >
              Animal details
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a
                    class="moj-sub-navigation__link"
                    aria-current="page"
                    href="{{ currentBaseUrl }}{{ animal.earTagNumber }}/cattle-history"
            >
              History
            </a>
          </li>
        </ul>
      </nav>


          <h2 class="govuk-heading-m">
            Animal history
          </h2>

          {% if animalEvents.length %}
          <ol class="govuk-list app-event-results">
            {% for event in animalEvents %}
            <li class="app-event-card">
              <article class="app-event-card__content">

                <time
                        class="govuk-body-s app-event-card__date"
                        datetime="{{ event.event_date }}"
                >
                  {{ event.event_date | fullDateFormat }}
                </time>

                <h3 class="govuk-heading-s app-event-card__heading">
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}events/{{ event.id }}"
                  >
                    {% if event.event_type === "birth" %}
                      Birth reported
                    {% elseif event.event_type === "movement" and event.details.direction === "off" %}
                      Moved off holding
                    {% elseif event.event_type === "movement" and event.details.direction === "on" %}
                      Moved on to holding
                    {% elseif event.event_type === "death" %}
                      Death recorded
                    {% elseif event.event_type === "passport" and event.details.action === "issued" %}
                      Passport issued
                    {% elseif event.event_type === "passport" and event.details.action === "reissued" %}
                      Passport reissued
                    {% elseif event.event_type === "passport" and event.details.action === "refused" %}
                      Passport refused
                    {% elseif event.event_type === "passport" and event.details.action === "correction_requested" %}
                      Passport correction requested
                    {% elseif event.event_type === "passport" and event.details.action === "replacement_requested" %}
                      Replacement passport requested
                    {% elseif event.event_type === "movement_issue" %}
                      Missing movement identified
                    {% elseif event.event_type === "movement_restriction" and event.details.action === "applied" %}
                      Movement restriction applied
                    {% elseif event.event_type === "movement_restriction" and event.details.action === "removed" %}
                      Movement restriction removed
                    {% elseif event.event_type === "animal_status" and event.details.action === "reported_lost" %}
                      Animal reported lost
                    {% elseif event.event_type === "animal_status" and event.details.action === "reported_stolen" %}
                      Animal reported stolen
                    {% elseif event.event_type === "animal_status" and event.details.action === "reported_found" %}
                      Animal found
                    {% else %}
                      {{ event.event_type | capitalize }}
                    {% endif %}
                  </a>
                </h3>



                <ul class="govuk-list app-event-card__details">
                   {% if event.event_type === "birth" %}
                <li>
                  Animal born at holding
                  {% if event.holdings.location.id %}
                  <a
                          class="govuk-link"
                          href="../holdings/{{ event.holdings.location.id }}"
                  >
                    {{ event.details.holding_cph }}
                  </a>
                  {% else %}
                  <a
                          class="govuk-link"
                          href="../holdings?search={{ event.details.holding_cph | urlencode }}"
                  >
                    {{ event.details.holding_cph }}
                  </a>.
                  {% endif %}
                </li>
                {% endif %}

                {% if event.event_type === "movement" and event.details.direction === "off" %}
                <li>
                  Moved off
                  {% if event.holdings.from.id %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings/{{ event.holdings.from.id }}"
                  >
                    {{ event.details.from_cph }}
                  </a>
                  {% else %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings?search={{ event.details.from_cph | urlencode }}"
                  >
                    {{ event.details.from_cph }}
                  </a>.
                  {% endif %}
                </li>
                {% endif %}

                {% if event.event_type === "movement" and event.details.direction === "on" %}
                <li>
                  Moved on to
                  {% if event.holdings.to.id %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings/{{ event.holdings.to.id }}"
                  >
                    {{ event.details.to_cph }}
                  </a>
                  {% else %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings?search={{ event.details.to_cph | urlencode }}"
                  >
                    {{ event.details.to_cph }}
                  </a>.
                  {% endif %}
                </li>
                {% endif %}

                {% if event.event_type === "death" %}
                <li>
                  Death recorded at holding
                  {% if event.holdings.location.id %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings/{{ event.holdings.location.id }}"
                  >
                    {{ event.details.holding_cph }}
                  </a>
                  {% else %}
                  <a
                          class="govuk-link"
                          href="{{ currentBaseUrl }}holdings?search={{ event.details.holding_cph | urlencode }}"
                  >
                    {{ event.details.holding_cph }}
                  </a>.
                  {% endif %}
                </li>
                {% endif %}
                  {% if event.event_type === "birth" %}

                    {% if event.details.dam_id %}
                    <li>

                        Genetic dam:

                      <a
                              class="govuk-link"
                              href="../cattle/{{ event.details.dam_id }}"
                      >
                        {{ event.details.dam_id | formatReference }}
                      </a>
                    </li>
                    {% endif %}

                    {% if event.details.surrogate_dam_id %}
                    <li>

                        Surrogate dam:

                      <a
                              class="govuk-link"
                              href="../cattle/{{ event.details.surrogate_dam_id }}"
                      >
                        {{ event.details.surrogate_dam_id | formatReference }}
                      </a>
                    </li>
                    {% endif %}

                    {% if event.details.sire_id %}
                    <li>

                        Sire:

                      <a
                              class="govuk-link"
                              href="../cattle/{{ event.details.sire_id }}"
                      >
                        {{ event.details.sire_id | formatReference }}
                      </a>
                    </li>
                    {% endif %}

                    {% if event.details.registration %}
                    <li>

                        Registration status:

                      {{ event.details.registration.status }}
                    </li>
                    <li>

                        Registered date:

                      {{ event.details.registration.registered_date | fullDateFormat }}
                    </li>
                    {% endif %}
                  {% endif %}

                  {% if event.event_type === "movement" %}
                    {% if (event.toHolding and event.toHolding.holdingType) or (event.fromHolding and event.fromHolding.holdingType)%}
                    <li>

                        Holding type:

                      {{ event.toHolding.holdingType or event.fromHolding.holdingType }}
                    </li>
                    {% elseif event.details.to_holding_type === "farm" %}
                    <li>

                        Holding type:

                      Agricultural Holdings (AH)
                    </li>
                    {% elseif event.details.to_holding_type === "abattoir" %}
                    <li>

                        Holding type:

                      Slaughterhouses / Abattoirs (SL)
                    </li>
                    {% elseif event.details.to_holding_type === "market" %}
                    <li>

                        Holding type:

                      Markets (MA)
                    </li>
                    {% elseif event.details.to_holding_type === "collection-centre" %}
                    <li>

                        Holding type:

                      Collection / Assembly Centres (CA)
                    </li>
                    {% elseif event.details.to_holding_type === "showground" %}
                    <li>

                        Holding type:

                      Showgrounds and Temporary Holdings (CC)
                    </li>
                    {% elseif event.details.to_holding_type %}
                    <li>

                        Holding type:

                      {{ event.details.to_holding_type }}
                    </li>
                    {% elseif event.details.off_holding_type %}
                    Holding type:

                      Agricultural Holdings (AH)
                    {% endif %}

                  {% endif %}

                  {% if event.event_type === "passport" %}
                    {% if event.details.status %}
                    <li>

                        Passport status:

                      {{ event.details.status }}
                    </li>
                    {% endif %}

                    {% if event.details.passport_version %}
                    <li>

                        Passport version:

                      {{ event.details.passport_version }}
                    </li>
                    {% endif %}
                  {% endif %}

                  {% if event.event_type === "movement_issue" and event.details.status %}
                  <li>

                      Status:

                    {{ event.details.status | capitalize }}
                  </li>
                  {% endif %}

                  {% if event.event_type === "movement_restriction" %}
                  <li>

                      Movement status:

                    {% if event.details.action === "applied" %}
                      Restricted
                    {% else %}
                      Unrestricted
                    {% endif %}
                  </li>
                  {% endif %}

                  {% if event.event_type === "animal_status" and event.details.status %}
                  <li>

                    Animal status: {{ event.details.status }}
                  </li>
                  {% endif %}

                  {% if event.event_type === "death" %}
                    {% if event.details.cause_label %}
                    <li>
                       Cause: {{ event.details.cause_label }}
                    </li>
                    {% elseif event.details.cause %}
                    <li>
                       Cause: {{ event.details.cause }}
                    </li>
                    {% endif %}

                    {% if event.details.linked_movement_id %}
                    <li>
                       Linked movement: {{ event.details.linked_movement_id }}
                    </li>
                    {% endif %}

                    {% if event.details.disposal_method %}
                    <li>
                      Disposal method: {{ event.details.disposal_method }}
                    </li>
                    {% endif %}
                  {% endif %}

                  <li>

                      Created by:

                    {{ event.reported_by }}
                  </li>
                </ul>

              </article>
            </li>
            {% endfor %}
          </ol>
          {% else %}
          <p class="govuk-body">
            No history events are recorded for this animal.
          </p>
          {% endif %}

    </div>
  </div>

{% endblock %}