{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageName="Does the organisation have a UK address?" %}

{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

{{ govukServiceNavigation({
serviceName: "Sign in to Defra online services",
serviceUrl: "/animals-on-holding/v1/start"
})
}}

{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/mvp-front-office/v1/auth-6c" method="post" novalidate>

        <span class="govuk-caption-l">Create a Defra account</span>

        {{ govukRadios({
          name: "organisation-has-uk-address",
          fieldset: {
            legend: {
              text: "Does the organisation have a UK address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("organisation-has-uk-address", "yes")
            },
            {
              value: "no",
              text: "No, my organisation has an overseas address",
              checked: checked("organisation-has-uk-address", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
