{% extends "layouts/main.html" %}


{% set pageName="Holding details" %}

{% block header %}

  {% include "mvp-front-office/v1/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v1/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v1/my-holdings">My holdings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ holding.cph }}
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="dwp-ds-render">

          <button class="dwp-side-navigation__button" data-module="dwp-side-navigation" data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation" data-label-show="Show navigation" aria-expanded="false">

          <span class="dwp-side-navigation__section-toggle-focus">
              <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
              <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
          </span>
          </button>

          <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
            <ul class="dwp-side-navigation__list">

            <li class="dwp-side-navigation__item">
              <a id="s-item-1" href="/mvp-front-office/v1/holding-overview" class="dwp-side-navigation__link">
                Overview
              </a>
            </li>

            <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
              <a id="s-item-2" href="/mvp-front-office/v1/holding-details" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
                Holding details
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-3" href="/mvp-front-office/v1/submissions" class="dwp-side-navigation__link">
                Submissions
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-4" href="/mvp-front-office/v1/animals-on-holding" class="dwp-side-navigation__link">
                Animals on holding
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-5" href="/mvp-front-office/v1/activity-history" class="dwp-side-navigation__link">
                Activity history
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-6" href="/mvp-front-office/v1/animal-error-record" class="dwp-side-navigation__link">
                Animal error record
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-7" href="/mvp-front-office/v1/messages" class="dwp-side-navigation__link">
                Messages
              </a>
            </li>

            <li class="dwp-side-navigation__item">
              <a id="s-item-8" href="/mvp-front-office/v1/manage-delegates" class="dwp-side-navigation__link">
                Manage delegates
              </a>
            </li>

          </ul>
          </nav>

        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">
          Holding details
        </h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CPH number</dt>
            <dd class="govuk-summary-list__value">{{ holding.cph }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Holding name</dt>
            <dd class="govuk-summary-list__value">{{ holding.holdingName }}</dd>
          </div>

          {% if holding.businessName %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Business name</dt>
            <dd class="govuk-summary-list__value">{{ holding.businessName }}</dd>
          </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
              {{ holding.address.addressLine1 }}
              {% if holding.address.addressLine2 %}<br>{{ holding.address.addressLine2 }}{% endif %}
              <br>{{ holding.address.town }}
              <br>{{ holding.address.county }}
              <br>{{ holding.address.postcode }}
              {% if holding.address.country %}<br>{{ holding.address.country }}{% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Holding type</dt>
            <dd class="govuk-summary-list__value">{{ holding.holdingType }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registered keeper</dt>
            <dd class="govuk-summary-list__value">{{ holding.keeper.name }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Herd mark</dt>
            <dd class="govuk-summary-list__value">{{ holding.herdmark }}</dd>
          </div>

        </dl>
      </div>
    </div>

  </div>
</div>

{% endblock %}
