{% extends "layouts/main.html" %}

{% set activeNavItem = "my-holdings" %}


{% set pageName="Overview" %}

{% block header %}

  {% include "mvp-front-office/v1/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v1/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      My holdings
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      My holdings
    </h1>
  </div>
</div>

{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--<form method="GET">
      <div class="search-wrapper govuk-form-group">
        <label for="search-holdings" class="govuk-label">
          Search by CPH number, holding name or postcode
        </label>
        <div class="search-input-wrapper">
          <input type="search" value="{{ search }}" id="search-holdings" name="search" title="Search" class="govuk-input">
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit">Search</button>
          </div>
        </div>
      </div>
    </form>-->
  </div>
</div>


{% if search %}

<p class="govuk-body" aria-live="polite">
  {{ holdings.length }}
  {% if holdings.length === 1 %}
  holding matches
  {% else %}
  holdings match
  {% endif %}
  <strong>'{{ search }}'</strong>
</p>

<p class="govuk-body">
  <a class="govuk-link" href="/mvp-front-office/v1/overview">
    Clear search
  </a>
</p>

{% endif %}

{% if holdings.length %}

{% set rows = [] %}
{% for holding in holdings %}
{% set row = [
{
html: '<a class="govuk-link" href="/mvp-front-office/v1/holding-overview?holding-id=' + holding.id + '">' + holding.cph + '</a>'
},
{
text: holding.holdingName
},
{
text: holding.address.postcode
},
{
text: holding.role
}
] %}
{% set rows = (rows.push(row), rows) %}
{% endfor %}

{{ govukTable({
attributes: {
"data-module": "moj-sortable-table"
},
caption: "My holdings",
captionClasses: "govuk-visually-hidden",
head: [
{
text: "CPH",
attributes: {
"aria-sort": "ascending"
}
},
{
text: "Holding name",
attributes: {
"aria-sort": "none"
}
},
{
text: "Postcode",
attributes: {
"aria-sort": "none"
}
},
{
text: "Role",
attributes: {
"aria-sort": "none"
}
}
],
rows: rows
}) }}

{% else %}
<p class="govuk-body">
  No holdings found{% if search %} for "{{ search }}"{% endif %}.
</p>
{% endif %}

{% endblock %}
