{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="My profile" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/mvp-front-office/v1/overview",
    navigation: [
    {
    href: "/mvp-front-office/v1/my-profile",
    text: "My profile",
    active: true
    },
    {
    href: "https://www.gov.uk/government/organisations/british-cattle-movement-service",
    text: "Help and guidance",
    attributes: {
      target: "_blank"
    }
    }
    ],
    slots: {
      navigationEnd: '<li class="govuk-service-navigation__item app-service-navigation__item--right"><a class="govuk-service-navigation__link" href="/mvp-front-office/v1/one-login">Sign out</a></li>'
    }
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    Profile and settings
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">Joe Bloggs</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">joe.bloggs@example.com</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Phone number</dt>
          <dd class="govuk-summary-list__value">07700 900000</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Password</dt>
          <dd class="govuk-summary-list__value">••••••••</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

      </dl>

    </div>
  </div>
</div>

{% endblock %}
