{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% set pageName="Create your password" %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/user-registration/create-your-password" method="post" novalidate>

        <h1 class="govuk-heading-xl">Create your password</h1>

        {{ govukPasswordInput({
          label: {
            text: "Enter a password"
          },
        hint: {
        text: "It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as 'password' or a sequence of numbers."
        },
          id: "password",
          name: "password",
          autocomplete: "new-password"
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Re-type password"
          },
          id: "confirm-password",
          name: "confirm-password",
          autocomplete: "new-password"
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to create a secure password
          </span>
          </summary>
          <div class="govuk-details__text">
            Content TBC.
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
