{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% set pageName="Create a password" %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/user-registration/gateway-create-a-password" method="post" novalidate>

        <h1 class="govuk-heading-xl">Create a password</h1>

        <p class="govuk-body">Your password needs to be 10 or more characters. To help you create a long and strong password, the National Cyber Security Centre recommends using three random words.</p>

        <p class="govuk-body">You can use a mix of letters, numbers or symbols in these three words.</p>

        {{ govukPasswordInput({
          label: {
            text: "Password",
            classes: "govuk-label--m"
          },
          id: "gateway-password-new",
          name: "gateway-password-new",
          autocomplete: "new-password"
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Confirm your password",
            classes: "govuk-label--m"
          },
          id: "gateway-password-confirm",
          name: "gateway-password-confirm",
          autocomplete: "new-password"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body"><a href="#" class="govuk-link">Get help with this page</a></p>

    </div>
  </div>

{% endblock %}
