{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageName = "Birth event" %}
{% set activeNav = "activity" %}
{% set bodyClasses = "app-layout--wide" %}
{% set containerClasses = "app-width-container--wide" %}

{% set pathParts = currentPath.split('/') %}
{% set currentBaseUrl = '/' + pathParts[1] + '/' + pathParts[2] + '/' %}

{% set eventRecord = event or {} %}
{% set animalRecord = animal or eventRecord.animal or {} %}
{% set eventDetails = eventRecord.details or {} %}
{% set registration = eventDetails.registration or {} %}
{% set birthHolding = eventRecord.holding or {} %}

{% set eventId = eventRecord.id or "BIR-2026-001234" %}
{% set earTagNumber = animalRecord.earTagNumber or eventRecord.animal_id or "UK123456700101" %}
{% set dateOfBirth = animalRecord.dateOfBirth or eventDetails.date_of_birth or "2026-08-12" %}
{% set sex = animalRecord.sex or eventDetails.sex or "Male" %}
{% set breedName = animalRecord.breed.name or eventDetails.breed_name or "Aberdeen Angus" %}
{% set breedCode = animalRecord.breed.code or eventDetails.breed_code or "AA" %}

{% set damType = animalRecord.dam.type or eventDetails.dam_type or "Genetic" %}
{% set geneticDamEarTag = animalRecord.dam.geneticDam.earTagNumber or eventDetails.genetic_dam_ear_tag or "UK123456501100" %}
{% set sireEarTag = animalRecord.sire.earTagNumber or eventDetails.sire_ear_tag or "UK234232342300" %}
{% set sireName = animalRecord.sire.name or eventDetails.sire_name or "Not provided" %}

{% set holdingCph = eventDetails.holding_cph or animalRecord.cph or "12/345/6789" %}
{% set holdingName = birthHolding.holdingName or "Fern Hollow Farm" %}
{% set holdingId = birthHolding.id or holdingCph %}

{% set registeredDate = registration.registered_date or eventRecord.registered_date or "2026-08-14" %}
{% set registeredByRole = eventRecord.registered_by_role or eventRecord.reported_by or "Keeper" %}
{% set registeredByName = eventRecord.registered_by_name or eventRecord.reporterName or "Alex Morgan" %}
{% set registeredByUserId = eventRecord.registered_by_user_id or "" %}

{% set eventReference = registration.defra_reference or eventRecord.reference or eventId %}
{% set eventStatus = registration.status or eventRecord.status or "Passport issued" %}
{% set passportNumber = registration.passport_number or eventRecord.passport_number or "UK123456700101" %}
{% set passportIssuedDate = registration.passport_issued_date or eventRecord.passport_issued_date or "2026-08-15" %}

{% set statusTagClass = "govuk-tag--blue" %}
{% if eventStatus == "Passport issued" %}
{% set statusTagClass = "govuk-tag--green" %}
{% elseif eventStatus == "Pending approval" %}
{% set statusTagClass = "govuk-tag--yellow" %}
{% elseif eventStatus == "Returned for information" %}
{% set statusTagClass = "govuk-tag--orange" %}
{% elseif eventStatus == "Rejected" %}
{% set statusTagClass = "govuk-tag--red" %}
{% endif %}

{#
Show the example issue with either:

?issue=sex-mismatch

or:

?showError=true
#}
{% set showSexMismatch =
query.issue == "sex-mismatch"
or query.showError == "true"
%}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to activity",
href: backUrl or currentBaseUrl + "events"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Birth event</span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Birth reported
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-2">
      {{ earTagNumber | formatReference }}
    </p>

    {{ govukTag({
    text: eventStatus,
    classes: statusTagClass
    }) }}

  </div>
</div>

{% if showSexMismatch %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">

    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
    {
    text: "Sex recorded for the birth does not match the issued passport",
    href: "#sex"
    }
    ]
    }) }}

  </div>
</div>

{% endif %}

{% if eventRecord.issues and eventRecord.issues.length %}

<section
        class="govuk-!-margin-top-7 govuk-!-margin-bottom-8"
        aria-labelledby="issues-heading"
>
  <h2 class="govuk-heading-l" id="issues-heading">
    Issues
  </h2>

  {% for issue in eventRecord.issues %}
  <div class="govuk-inset-text">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      {% if issue.code %}{{ issue.code }}: {% endif %}
      {{ issue.title or issue.description }}
    </h3>

    {% if issue.guidance %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      {{ issue.guidance }}
    </p>
    {% endif %}
  </div>
  {% endfor %}
</section>

{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section aria-labelledby="event-information-heading">

      <h2 class="govuk-heading-l" id="event-information-heading">
        Event information
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Event reference</dt>
          <dd class="govuk-summary-list__value">{{ eventReference }}</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">
            {{ govukTag({
            text: eventStatus,
            classes: statusTagClass
            }) }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Registered</dt>
          <dd class="govuk-summary-list__value">
            {{ registeredDate | fullDateFormat }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Registered by</dt>
          <dd class="govuk-summary-list__value">
            {{ registeredByRole | capitalize }}
            {% if registeredByName %}· {{ registeredByName }}{% endif %}
          </dd>

          {% if registeredByUserId %}
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}users/{{ registeredByUserId }}"
            >
              View
              <span class="govuk-visually-hidden">
                  {{ registeredByName }}'s user record
                </span>
            </a>
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Holding of birth</dt>
          <dd class="govuk-summary-list__value">
            {{ holdingCph }}<br>
            {{ holdingName }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}holdings/{{ holdingId }}"
            >
              View
              <span class="govuk-visually-hidden">
                holding {{ holdingCph }}
              </span>
            </a>
          </dd>
        </div>

        {% if eventStatus == "Passport issued" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Passport number</dt>
          <dd class="govuk-summary-list__value">
            {{ passportNumber | formatReference }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Passport issued</dt>
          <dd class="govuk-summary-list__value">
            {{ passportIssuedDate | fullDateFormat }}
          </dd>
        </div>

        {% endif %}

      </dl>

    </section>

    <section aria-labelledby="animal-details-heading">

      <h2 class="govuk-heading-l" id="animal-details-heading">
        Animal details
      </h2>

      <dl class="govuk-summary-list app-summary-list--grid govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Animal ear tag number</dt>
          <dd class="govuk-summary-list__value">
            {{ earTagNumber | formatReference }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/animal-details?change=ear-tag"
            >
              Change
              <span class="govuk-visually-hidden">animal ear tag number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">
            {{ dateOfBirth | fullDateFormat }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/animal-details?change=date-of-birth"
            >
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>

        <div
                class="govuk-summary-list__row{% if showSexMismatch %} app-summary-list__row--error{% endif %}"
                id="sex"
        >
          <dt class="govuk-summary-list__key">
            Sex
          </dt>

          <dd class="govuk-summary-list__value">

            {% if showSexMismatch %}

            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              Sex recorded for the birth does not match the issued passport
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
              Check the sex recorded for the birth and the details on the issued passport.
            </p>

            {% endif %}

            {{ sex }}

          </dd>

          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/animal-details?change=sex"
            >
              Change
              <span class="govuk-visually-hidden">sex</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Breed</dt>
          <dd class="govuk-summary-list__value">
            {{ breedName }} ({{ breedCode }})
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/animal-details?change=breed"
            >
              Change
              <span class="govuk-visually-hidden">breed</span>
            </a>
          </dd>
        </div>

      </dl>

    </section>

    <section aria-labelledby="parent-details-heading">

      <h2 class="govuk-heading-l" id="parent-details-heading">
        Parent details
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Dam type</dt>
          <dd class="govuk-summary-list__value">{{ damType }}</dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/dam-details?change=dam-type"
            >
              Change
              <span class="govuk-visually-hidden">dam type</span>
            </a>
          </dd>
        </div>

        {% if damType == "Genetic" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Genetic dam ear tag number
          </dt>
          <dd class="govuk-summary-list__value">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}cattle/{{ geneticDamEarTag }}"
            >
              {{ geneticDamEarTag | formatReference }}
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/dam-details?change=genetic-dam"
            >
              Change
              <span class="govuk-visually-hidden">
                  genetic dam ear tag number
                </span>
            </a>
          </dd>
        </div>

        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sire ear tag number</dt>
          <dd class="govuk-summary-list__value">
            {% if sireEarTag and sireEarTag != "Not provided" %}
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}cattle/{{ sireEarTag }}"
            >
              {{ sireEarTag | formatReference }}
            </a>
            {% else %}
            Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/sire-details?change=sire-ear-tag"
            >
              Change
              <span class="govuk-visually-hidden">sire ear tag number</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sire name</dt>
          <dd class="govuk-summary-list__value">{{ sireName }}</dd>
          <dd class="govuk-summary-list__actions">
            <a
                    class="govuk-link"
                    href="{{ currentBaseUrl }}events/{{ eventId }}/sire-details?change=sire-name"
            >
              Change
              <span class="govuk-visually-hidden">sire name</span>
            </a>
          </dd>
        </div>

      </dl>

    </section>

    <div class="govuk-button-group">

      {{ govukButton({
      text: "View animal record",
      href: currentBaseUrl + "cattle/" + earTagNumber,
      classes: "govuk-button--secondary"
      }) }}

      <a
              class="govuk-link"
              href="{{ currentBaseUrl }}events/{{ eventId }}/history"
      >
        View event history
      </a>

    </div>

  </div>
</div>

{% endblock %}