{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Cattle register" %}

{% set activeNav = "my-holdings" %}

{% block header %}

{% block navBar %}{% include "./components/_navigation.html" %}{% endblock %}

{% endblock %}

{% block beforeContent %}
{% set pathParts = currentPath.split('/') %}
{% set currentBaseUrl = '/' + pathParts[1] + '/' + pathParts[2] + '/' %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: currentBaseUrl+"home"
}
]
}) }}
{% endblock %}


{% block content %}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}



<div>
    <h1 class="govuk-heading-l">
        Cattle register
    </h1>
</div>

<div>
    {% set filterHint = 'Search by ear tag number, CPH number, date of birth, breed or status' %}
    {% block filterBar %}{% include "./components/_filter-bar.html" %}{% endblock %}
    <p><a href="{{currentBaseUrl}}/cattle-advanced-search">Advanced livestock search</a>
    </p>
</div>


{% if not search %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            You can search using:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>ear tag number, for example UK864202917556</li>
            <li>CPH number, for example 12/345/0001</li>
            <li>date of birth, for example 17-05-2023</li>
            <li>breed, for example Hereford</li>
            <li>status, for example Active</li>
        </ul>
    </div>
</div>

{% else %}

<p class="govuk-body" aria-live="polite">
    {{ cattle.length }}
    {% if cattle.length === 1 %}
    cattle record matches
    {% else %}
    cattle records match
    {% endif %}
    <strong>‘{{ search }}’</strong>
</p>

<p class="govuk-body">
    <a class="govuk-link" href="./cattle">
        Clear search
    </a>
</p>

{% if cattle.length %}
<table class="govuk-table app-table--compact">
    <caption class="govuk-table__caption govuk-visually-hidden">
        Cattle search results
    </caption>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Ear tag</th>
        <th scope="col" class="govuk-table__header">CPH</th>
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <th scope="col" class="govuk-table__header">Date of registration</th>
        <th scope="col" class="govuk-table__header">Sex</th>
        <th scope="col" class="govuk-table__header">Breed</th>
        <th scope="col" class="govuk-table__header">Status</th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
    {% for animal in cattle %}
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header app-table__cell--no-wrap ">
            <a class="govuk-link" href="./cattle/{{ animal.earTagNumber }}">
                {{ animal.earTagNumber | formatReference }}
            </a>
        </th>

        <td class="govuk-table__cell">
            {{ animal.cph }}
        </td>

        <td class="govuk-table__cell">
            {{ animal.dateOfBirth | shortDateFormat }}
        </td>

        <td class="govuk-table__cell">
            {{ animal.dateOfRegistration | shortDateFormat}}
        </td>

        <td class="govuk-table__cell">
            {{ animal.sex}}
        </td>

        <td class="govuk-table__cell">
            {{ animal.breed.name }} ({{ animal.breed.code }})
        </td>

        <td class="govuk-table__cell">
            {% if animal.status === "Active" %}
            <strong class="govuk-tag govuk-tag--green">
                Active
            </strong>
            {% elseif animal.status === "Deceased" %}
            <strong class="govuk-tag govuk-tag--red">
                Deceased
            </strong>
            {% elseif animal.status === "Sold" %}
            <strong class="govuk-tag govuk-tag--grey">
                Sold
            </strong>
            {% else %}
            {{ animal.status }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="govuk-body">
    No cattle records found.
</p>
{% endif %}

{% endif %}
</div>
</div>

{% endblock %}
