```html
{% extends "layouts/main.html" %}

{% set pageName = "Livestock back office v1 prototype" %}

{% block content %}
<div class="govuk-phase-banner govuk-width-container" style="margin-top:-30px; margin-bottom:30px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      These are conceptual prototypes, not a finalised service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Livestock back office v2 prototype
    </h1>

    <p class="govuk-body-l">
      This is an early prototype exploring how livestock and holding records
      could be searched and displayed.
    </p>


    <h2 class="govuk-heading-m">
      Designs
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a
                class="govuk-link"
                href="./home"
        >
          Home page
        </a>
      </li>
    </ul>


    <h2 class="govuk-heading-m">
      Holding records
    </h2>



    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a
                class="govuk-link"
                href="./holdings"
        >
          Search holdings
        </a>
      </li>

      <li>
        <a
                class="govuk-link"
                href="./holdings/holding-001"
        >
          View an example holding
        </a>
      </li>

    </ul>

    <ul class="govuk-list govuk-list--spaced">
      <li></li>
    </ul>

    <p class="govuk-body">
      The holding search uses temporary JSON data added to make the journey
      work in the prototype.
    </p>

    <p class="govuk-body">
      The holding names, addresses, CPH numbers, keeper details and livestock
      information are fictional and are only included to demonstrate the
      search results and holding detail pages.
    </p>

    <div class="govuk-inset-text">
      All data in this prototype is fictional and should not be treated as
      real livestock, holding or customer information.
    </div>

  </div>
</div>

{% endblock %}