{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Animal detail view" %}
{% set activeNav = "animals" %}

{% block header %}
{% block navBar %}{% include "./components/_navigation.html" %}{% endblock %}
{% endblock %}

{% block beforeContent %}
{% set currentBaseUrl = '/' + baseUrl + '/' %}
{% block returnLink %}{% include "./components/_return-link-animal.html" %}{% endblock %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Registered animal</span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{ animal.earTagNumber | formatReference }}
    </h1>

    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1">
  <strong>Animal status:</strong> {{ animal.status }} &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Passport status:</strong>
  {{ animal.administrativeStatus.passportStatus }}
</p>

{% include "./components/_animal-issues-callout.html" %}

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
     <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a
                    class="moj-sub-navigation__link"
                    aria-current="page"
                    href="/{{baseURL}}/cattle/{{ animal.earTagNumber }}{{ contextQuery }}"
            >
              Animal details
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a
                    class="moj-sub-navigation__link"

                    href="/{{baseURL}}/cattle/{{ animal.earTagNumber }}/cattle-history{{ contextQuery }}"
            >
              Movements
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a
                    class="moj-sub-navigation__link"

                    href="/{{baseURL}}/cattle/{{ animal.earTagNumber }}/cattle-activity{{ contextQuery }}"
            >
              Activity
            </a>
          </li>
        </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-bottom-9">

    <h2 class="govuk-heading-m">Animal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Ear tag number</dt>
        <dd class="govuk-summary-list__value">{{ animal.earTagNumber | formatReference }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">{{ animal.dateOfBirth | fullDateFormat }}</dd>
      </div>

      {% if animal.status === "Deceased" and animal.dateOfDeath %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of death</dt>
        <dd class="govuk-summary-list__value">{{ animal.dateOfDeath | fullDateFormat }}</dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if animal.status === "Deceased" %}Age at death{% else %}Age{% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if animal.status === "Deceased" and animal.dateOfDeath %}
            {{ animal.dateOfBirth | animalAge(animal.dateOfDeath) }}
          {% else %}
            {{ animal.dateOfBirth | animalAge }}
          {% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sex</dt>
        <dd class="govuk-summary-list__value">{{ animal.sex }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Breed</dt>
        <dd class="govuk-summary-list__value">
          {{ animal.breed.name }}{% if animal.breed.code %} ({{ animal.breed.code }}){% endif %}
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Dam details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Dam type</dt>
        <dd class="govuk-summary-list__value">{{ animal.dam.type }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Genetic dam ear tag</dt>
        <dd class="govuk-summary-list__value">
          <a
                  class="govuk-link"
                  href="{{ currentBaseUrl }}cattle/{{ animal.dam.geneticDam.earTagNumber }}?returnUrl={{ (currentBaseUrl+'cattle/'+animal.earTagNumber) | urlencode }}"
          >
            {{ animal.dam.geneticDam.earTagNumber | formatReference }}
          </a>
        </dd>
      </div>

      {% if animal.dam.surrogateDam %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Surrogate dam ear tag</dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link" href="../cattle/{{ animal.dam.surrogateDam.earTagNumber }}">
            {{ animal.dam.surrogateDam.earTagNumber | formatReference }}
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <h2 class="govuk-heading-m">Sire details</h2>

    {% if animal.sire %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sire ear tag number</dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link" href="../cattle/{{ animal.sire.earTagNumber }}">
            {{ animal.sire.earTagNumber | formatReference }}
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sire name</dt>
        <dd class="govuk-summary-list__value">{{ animal.sire.name }}</dd>
      </div>
    </dl>
    {% else %}
    <p class="govuk-body govuk-!-margin-bottom-8">No sire details are recorded.</p>
    {% endif %}

    <h2 class="govuk-heading-m">Registration and passport</h2>


    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Registered on</dt>
        <dd class="govuk-summary-list__value">{{ animal.dateOfRegistration | fullDateFormat }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Passport status</dt>
        <dd class="govuk-summary-list__value">{{ animal.administrativeStatus.passportStatus }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Passport version</dt>
        <dd class="govuk-summary-list__value">
          {% if animal.administrativeStatus.passportVersion %}
            {{ animal.administrativeStatus.passportVersion }}
          {% else %}
            Not applicable
          {% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last issued</dt>
        <dd class="govuk-summary-list__value">
          {% if animal.administrativeStatus.passportLastIssued %}
            {{ animal.administrativeStatus.passportLastIssued | fullDateFormat }}
          {% else %}
            Not issued
          {% endif %}
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-m">{{ locationHeading }}</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">CPH</dt>
        <dd class="govuk-summary-list__value">
          {% if animalLocations.current.id %}
          <a
                  class="govuk-link"
                  href="/{{baseURL}}/holdings/{{ animalLocations.current.id }}"
          >
            {{ animalLocations.current.cph }}{% if animalLocations.current.holdingTypeCode %} (<abbr title="{{ animalLocations.current.holdingType }}">{{ animalLocations.current.holdingTypeCode }}</abbr>){% endif %}
          </a>
          {% else %}
            {{ animalLocations.current.cph }}{% if animalLocations.current.holdingTypeCode %} (<abbr title="{{ animalLocations.current.holdingType }}">{{ animalLocations.current.holdingTypeCode }}</abbr>){% endif %}
          {% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">
<!--          {% if animalLocations.current.name %}-->
<!--          <p class="govuk-body govuk-!-margin-bottom-1">{{ animalLocations.current.name }}</p>-->
<!--          {% endif %}-->

          {% if animalLocations.current.address %}
          <p class="govuk-body govuk-!-margin-bottom-1">{{ animalLocations.current.address }}</p>
          {% endif %}

          <p class="govuk-body govuk-!-margin-bottom-0">
            <a
                    class="govuk-link"
                    href="google.com/maps/place/51°48'27.0%22N+0°50'09.0%22E/@51.8079676,0.8299147,998m/data=!3m1!1e3!4m4!3m3!8m2!3d51.807509!4d0.8358453?entry=ttu&g_ep=EgoyMDI2MDkwMS4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank"
            >
              View on map (opens in new tab)
            </a>
          </p>
        </dd>
      </div>

      {% if animalLocations.current.movementDate %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Moved to holding on</dt>
        <dd class="govuk-summary-list__value">
          {{ animalLocations.current.movementDate | fullDateFormat }}
        </dd>
      </div>
      {% endif %}
    </dl>

    <h2 class="govuk-heading-m">Place of birth</h2>

    {% if animalLocations.birth.cph === animalLocations.current.cph %}
    <p class="govuk-body govuk-!-margin-bottom-8">
      Same as current location.
    </p>
    {% else %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">CPH</dt>
        <dd class="govuk-summary-list__value">
          {% if animalLocations.birth.id %}
          <a
                  class="govuk-link"
                  href="{{ currentBaseUrl }}holdings/{{ animalLocations.birth.id }}"
          >
            {{ animalLocations.birth.cph }}
          </a>
          {% else %}
            {{ animalLocations.birth.cph }}
          {% endif %}
        </dd>
      </div>

      {% if animalLocations.birth.name or animalLocations.birth.address %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">
<!--          {% if animalLocations.birth.name %}-->
<!--          <p class="govuk-body govuk-!-margin-bottom-1">{{ animalLocations.birth.name }}</p>-->
<!--          {% endif %}-->

          {% if animalLocations.birth.address %}
          <p class="govuk-body govuk-!-margin-bottom-0">{{ animalLocations.birth.address }}</p>
          {% endif %}
        </dd>
      </div>
      {% endif %}
    </dl>
    {% endif %}

    <a
      href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}/update{{ contextQuery }}"
      role="button"
      draggable="false"
      class="govuk-button"
      data-module="govuk-button"
    >
      Update animal record
    </a>

  </div>


</div>

{% endblock %}