{% extends "layouts/main.html" %}

{% set pageName="Animals on holding" %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "animals-on-holding" %}

{% block header %}

  {% include "mvp-front-office/v5/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<a href="/mvp-front-office/v5/my-holdings/holding-overview" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Cattle error record
    </h1>

    <div class="govuk-inset-text">

      <h2 class="govuk-heading-m">
        How to fix animal error records
      </h2>

      <p class="govuk-body">
        Contact BCMS to fix errors related to animals on your holding.
      </p>

      <ul class="govuk-list">
        <li>BCMS phone: 0345 050 1234</li>
        <li>Helpline for cattle keepers in Wales: 0345 050 3456</li>
        <li>Monday to Friday, 8:30am to 5pm</li>
      </ul>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>
      </p>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">
      {{ totalErrors }} animal{{ 's' if totalErrors != 1 else '' }} with errors
    </h2>

      {% from "govuk/components/table/macro.njk" import govukTable %}
      {% from "govuk/components/pagination/macro.njk" import govukPagination %}

      {% set statusTagClasses = {
      "Refused": "govuk-tag--red",
      "Pending": "govuk-tag--yellow",
      "Action needed": "govuk-tag--orange"
      } %}

      {% set rows = [] %}
      {% for error in errors %}
      {% set row = [
      {
      html: '<a class="govuk-link" href="/mvp-front-office/v5/my-holdings/cattle-error-record-detail/' + error.id + '">' + (error.earTagNumber | formatReference) + '</a>',
      attributes: { style: "white-space: nowrap;" }
      },
      {
      text: error.date | shortDateFormat,
      attributes: {
      "data-sort-value": error.date.slice(6,10) + error.date.slice(3,5) + error.date.slice(0,2),
      style: "white-space: nowrap;"
      }
      },
      {
      text: error.category
      },
      {
      html: '<strong class="govuk-tag ' + statusTagClasses[error.status] + '">' + error.status + '</strong>',
      attributes: {
      "data-sort-value": error.status,
      style: "white-space: nowrap;"
      }
      }
      ] %}
      {% set rows = (rows.push(row), rows) %}
      {% endfor %}

      <div class="app-dashboard-table-wrapper">
        {{ govukTable({
        attributes: {
        "data-module": "moj-sortable-table"
        },
        caption: "Cattle error records",
        captionClasses: "govuk-visually-hidden",
        head: [
        {
        text: "Ear tag number",
        attributes: { "aria-sort": "ascending", style: "white-space: nowrap;" }
        },
        {
        text: "Date",
        attributes: { "aria-sort": "none", style: "white-space: nowrap;" }
        },
        {
        text: "Category",
        attributes: { "aria-sort": "none" }
        },
        {
        text: "Status",
        attributes: { "aria-sort": "none", style: "white-space: nowrap;" }
        }
        ],
        rows: rows
        }) }}
      </div>

      <p class="govuk-body">
        Showing {{ showingFrom }} to {{ showingTo }} of {{ totalErrors }} results
      </p>

      {% if pagination %}
      {{ govukPagination(pagination) }}
      {% endif %}

      <p class="govuk-body" aria-live="polite">
            {% if search %}
            {{ cattle.length }}
            {% if cattle.length === 1 %}
            registered cattle record matches
            {% else %}
            registered cattle records match
            {% endif %}
            <strong>'{{ search }}'</strong>
            {% else %}
            <!--  {{ cattle.length }} registered cattle-->
            {% endif %}
          </p>

      {% if search %}
      <p class="govuk-body">
        <a class="govuk-link" href="/mvp-front-office/v5/my-holdings/cattle-on-holding">Clear search</a>
      </p>
      {% endif %}

      {% if cattle.length %}
      {% from "govuk/components/table/macro.njk" import govukTable %}
      {% from "govuk/components/pagination/macro.njk" import govukPagination %}

      {% set rows = [] %}
      {% for animal in cattle %}
      {% set row = [
      {
      html: '<a class="govuk-link" href="/mvp-front-office/v5/my-holdings/cattle/' + animal.earTagNumber + '">' + (animal.earTagNumber | formatReference) + '</a>',
      classes: "app-table__cell--no-wrap"
      },
      {
      text: animal.dateOfBirth | shortDateFormat,
      classes: "app-table__cell--no-wrap",
      attributes: {
      "data-sort-value": animal.dateOfBirth.slice(6,10) + animal.dateOfBirth.slice(3,5) + animal.dateOfBirth.slice(0,2)
      }
      },
      {
      text: animal.dateOfBirth | animalAge,
      classes: "app-table__cell--no-wrap",
      attributes: {
      "data-sort-value": animal.dateOfBirth.slice(6,10) + animal.dateOfBirth.slice(3,5) + animal.dateOfBirth.slice(0,2)
      }
      },
      {
      text: animal.dateOfRegistration | shortDateFormat,
      classes: "app-table__cell--no-wrap",
      attributes: {
      "data-sort-value": animal.dateOfRegistration.slice(6,10) + animal.dateOfRegistration.slice(3,5) + animal.dateOfRegistration.slice(0,2)
      }
      },
      {
      text: animal.sex,
      classes: "app-table__cell--no-wrap"
      },
      {
      html: '<abbr title="' + animal.breed.name + '">' + animal.breed.code + '</abbr><span class="govuk-visually-hidden">, ' + animal.breed.name + '</span>',
      classes: "app-table__cell--no-wrap"
      }
      ] %}
      {% set rows = (rows.push(row), rows) %}
      {% endfor %}

      <div class="app-dashboard-table-wrapper">
        {{ govukTable({
        attributes: {
        "data-module": "moj-sortable-table"
        },
        caption: "Animals on holding",
        captionClasses: "govuk-visually-hidden",
        head: [
        {
        text: "Ear tag number",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "ascending"
        }
        },
        {
        text: "Date of birth",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "none"
        }
        },
        {
        text: "Age",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "none"
        }
        },
        {
        text: "Date on holding",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "none"
        }
        },
        {
        text: "Sex",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "none"
        }
        },
        {
        text: "Breed",
        classes: "app-table__cell--no-wrap",
        attributes: {
        "aria-sort": "none"
        }
        }
        ],
        rows: rows
        }) }}
      </div>

      <p class="govuk-body">
        Showing {{ showingFrom }} to {{ showingTo }} of {{ totalCattle }} results
      </p>

      {% if pagination %}
      {{ govukPagination(pagination) }}
      {% endif %}
      {% else %}
      {% endif %}
  </div>
</div>

{% endblock %}
