{% extends "layouts/main.html" %}

{% set pageName=holding.holdingName %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "holding-details" %}

{% block header %}
    {% include "mvp-front-office/v5/partials/header.html" %}
{% endblock %}

{% block content %}

<div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
         <span class="govuk-caption-l">
             {{ holding.cph }}
         </span>
        {{ holding.holdingName }}
    </h1>

    <nav class="moj-sub-navigation govuk-!-margin-bottom-5" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="/mvp-front-office/v5/my-holdings/holding-overview">Overview</a>
            </li>
            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="/mvp-front-office/v5/my-holdings/holding-details">Holding details</a>
            </li>
        </ul>
    </nav>

    <div class="govuk-inset-text govuk-!-margin-top-0">
        Recent changes such as new registrations may take up to 24 hours to appear in your list.
    </div>

    <div class="card">

        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
            Cattle
        </h2>

        <div class="govuk-grid-row govuk-!-margin-bottom-4">

            <div class="govuk-grid-column-one-third">
                <a href="/mvp-front-office/v5/my-holdings/cattle-on-holding" class="app-traffic-card app-traffic-card--green">
                    <span class="app-traffic-card__inner">
                        <span class="app-traffic-card__number">18</span>
                        <span class="app-traffic-card__label">Cattle on holding</span>
                    </span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="/mvp-front-office/v5/my-holdings/pending-validation" class="app-traffic-card app-traffic-card--amber">
                    <span class="app-traffic-card__inner">
                        <span class="app-traffic-card__number">4</span>
                        <span class="app-traffic-card__label">Pending validation</span>
                    </span>
                </a>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="/mvp-front-office/v5/my-holdings/cattle-error-records" class="app-traffic-card app-traffic-card--red">
                    <span class="app-traffic-card__inner">
                        <span class="app-traffic-card__number">3</span>
                        <span class="app-traffic-card__label">Cattle errors</span>
                    </span>
                </a>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-m">Your services</h3>
                <ul class="govuk-list govuk-!-margin-bottom-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/mvp-front-office/v5/my-holdings/register-cattle-birth">
                            Register a cattle birth
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/mvp-front-office/v5/my-holdings/report-cattle-movement">
                            Report a cattle movement
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/mvp-front-office/v5/my-holdings/report-cattle-death">
                            Report a cattle death
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/mvp-front-office/v5/my-holdings/export-cattle-data">
                            Download a list of cattle on your holding
                        </a>
                    </li>
                </ul>
            </div>

            <div class="govuk-grid-column-one-half card-body">
                <h3 class="govuk-heading-m">Help and support</h3>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/environment/keeping-farmed-animals">
                            GOV.UK guidance for cattle
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/government/organisations/british-cattle-movement-service">Contact BCMS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}
