{% extends "layouts/main.html" %}

{% set pageName="Report a cattle movement" %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "submissions" %}

{% block header %}
  {% include "mvp-front-office/v5/partials/header.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="/mvp-front-office/v5/my-holdings/holding-overview" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
          Report a cattle movement
        </h1>
        <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start an on or off movement
        </a>

        {% from "govuk/components/table/macro.njk" import govukTable %}
        {% from "govuk/components/pagination/macro.njk" import govukPagination %}

        {% if totalDrafts > 0 %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m govuk-!-margin-top-6">Draft movement reports</h2>
              <p class="govuk-body">
                Drafts are automatically deleted after 27 days.
              </p>

              {% set rows = [] %}
              {% for submission in draftSubmissions %}
              {% set row = [
              {
              text: submission.date | shortDateFormat
              },
              {
              text: submission.total
              },
              {
              html: '<a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> draft registration</span></a> <a class="govuk-link govuk-!-margin-left-3" href="' + submission.href + '">Continue<span class="govuk-visually-hidden"> registration</span></a>',
              format: "numeric"
              }
              ] %}
              {% set rows = (rows.push(row), rows) %}
              {% endfor %}

              {{ govukTable({
              caption: "Draft cattle movement registrations",
              captionClasses: "govuk-visually-hidden",
              head: [
              {
              text: "Date started"
              },
              {
              text: "Total animals"
              },
              {
              html: '<span class="govuk-visually-hidden">Action</span>',
              format: "numeric"
              }
              ],
              rows: rows
              }) }}
            </div>
            </div>
          </div>

        {% endif %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">
            Reporting history
        </h2>

        {% if sentSubmissions.length %}
        {% set rows = [] %}
        {% for submission in sentSubmissions %}
        {% set row = [
        {
        html: '<a class="govuk-link" href="' + submission.href + '">' + submission.reference + '</a>',
        classes: "app-table__cell--no-wrap"
        },
        {
        text: submission.date | shortDateFormat,
        classes: "app-table__cell--no-wrap",
        attributes: {
        "data-sort-value": submission.date.slice(6,10) + submission.date.slice(3,5) + submission.date.slice(0,2)
        }
        },
        {
        text: submission.total,
        classes: "app-table__cell--no-wrap"
        },
        {
        text: submission.errorCount if submission.errorCount else "–",
        classes: "app-table__cell--no-wrap"
        },
        {
        html: '<strong class="govuk-tag ' + submission.statusClass + '">' + submission.status + '</strong>',
        classes: "app-table__cell--no-wrap",
        attributes: {
        "data-sort-value": submission.status
        }
        }
        ] %}
        {% set rows = (rows.push(row), rows) %}
        {% endfor %}

        <div class="app-dashboard-table-wrapper">
          {{ govukTable({
          attributes: {
          "data-module": "moj-sortable-table"
          },
          caption: "Sent cattle movement registrations",
          captionClasses: "govuk-visually-hidden",
          head: [
          {
          text: "Reference number",
          classes: "app-table__cell--no-wrap",
          attributes: { "aria-sort": "none" }
          },
          {
          text: "Movement date",
          classes: "app-table__cell--no-wrap",
          attributes: { "aria-sort": "descending" }
          },
          {
          text: "Total movements",
          classes: "app-table__cell--no-wrap",
          attributes: { "aria-sort": "none" }
          },
          {
          text: "Movement errors",
          classes: "app-table__cell--no-wrap",
          attributes: { "aria-sort": "none" }
          },
          {
          text: "Status",
          classes: "app-table__cell--no-wrap",
          attributes: { "aria-sort": "none" }
          }
          ],
          rows: rows
          }) }}
        </div>

        <p class="govuk-body">
          Showing {{ sentShowingFrom }} to {{ sentShowingTo }} of {{ totalSent }} results
        </p>

        {% if sentPagination %}
        {{ govukPagination(sentPagination) }}
        {% endif %}
        {% endif %}

  </div>
</div>

{% endblock %}
