{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose which adult sheep to move
      </h1>

      <form class="form" action="/version2/fci-declaration" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <div id="sheep-hint" class="govuk-hint">
      Select from your holding list
    </div>
    </legend>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          UK 0 123456 10000
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Texel, Male, Born 1 January 2025
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          UK 0 123456 10001
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Suffolk, Female, Born 15 February 2024
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          UK 0 123456 10002
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Merino, Male, Born 3 March 2023
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          UK 0 123456 10003
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Charollais, Female, 22 April 2022
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="organisation-5">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
          UK 0 123456 10004
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Hampshire, Male, Born 10 May 2021
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="organisation-6">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
          UK 0 123456 10005
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Lincoln, Female, Born 7 June 2020
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox" value="organisation-7">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
          UK 0 123456 10006
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Romney, Male, Born 14 July 2019
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-8" name="organisation" type="checkbox" value="organisation-8">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
          UK 0 123456 10007
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Cheviot, Female, Born 28 August 2018
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-9" name="organisation" type="checkbox" value="organisation-9">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-9">
          UK 0 123456 10008
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Dorset, Male, Born 5 September 2017
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-10" name="organisation" type="checkbox" value="organisation-10">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-10">
          UK 0 123456 10009
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Jacob, Female, Born 12 October 2016
        </div>
      </div>

      <br>
      <br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
