{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageName = "Cattle details" %}

{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="#">Contact BCMS</a> if you need to make changes to an existing registration.
                </p>
            </div>
        </div>

{% endblock %}

