{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Animals on holding" %}

{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

{{ govukServiceNavigation({
serviceName: "Livestock Information",
serviceUrl: "/steel-thread-errors/start",
slots: {
navigationEnd: '<li class="govuk-service-navigation__item app-service-navigation__item--right"><a class="govuk-service-navigation__link" href="/steel-thread/v2/one-login">Sign out</a></li>'
}
}) }}

{% endblock %}

{% block content %}

<span class="govuk-caption-l">
    Oakfield Farm
</span>
<h1 class="govuk-heading-l">
    Animals on holding
</h1>

<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">Holding details</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="#">Animals on holding</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#">Animal error record</a>
        </li>
    </ul>
</nav>

<p class="govuk-body">
    There are no animals currently registered on your holding.
</p>

<p class="govuk-body">
    If you believe this is incorrect, contact the <a href="https://www.gov.uk/government/organisations/british-cattle-movement-service#:~:text=guidance%20and%20regulation-,Contact%20BCMS,-British%20Cattle%20Movement">British Cattle Movement Service (BCMS)</a>.
</p>

{% endblock %}
