{% extends "layouts/main.html" %}


{% block header %}

  {% include "cattle-birth-registration-alpha/partials/header.html" %}
{% include "report-and-view-alpha/v1/partials/phase-banner.html" %}
{% endblock %}

{% set pageName="5 cattle births added to your cattle livestock list" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        5 cattle births registered
      </h1>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      You will receive a confirmation email.
    </p>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      Validation may take up to 24 hours. We will be in touch once your registration has been reviewed if it is successful or we require further information.
    </p>

    <p class="govuk-body">
      <a href="/cattle-birth-registration-alpha/overview" type="submit" class="govuk-button">
        Return to the homepage
      </a>
    </p>

  </div>
</div>

{% endblock %}
