{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Animal detail view" %}

{% set activeNav = "my-holdings" %}

{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

{{ govukServiceNavigation({
serviceName: "Livestock Information",
serviceUrl: "/animals-on-holding/v1/start",
navigation: [
{
href: "/animals-on-holding/v1/my-holdings",
text: "My holdings",
active: activeNav === "my-holdings"
},
{
href: "/animals-on-holding/v1/my-services",
text: "My services"
},
{
href: "/animals-on-holding/v1/activity-history",
text: "Activity history"
},
{
href: "/animals-on-holding/v1/profile-settings",
text: "Profile and settings"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">
            Registered cattle
          </span>

      <h1 class="govuk-heading-l">
        {{ animal.earTagNumber  | formatReference }}
      </h1>

      <h2 class="govuk-heading-m">
        Cattle details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ear tag number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.earTagNumber | formatReference }}
          </dd>
        </div>

<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            CPH-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            {{ animal.cph }}-->
<!--          </dd>-->
<!--        </div>-->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.dateOfBirth  | fullDateFormat}}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sex
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.sex }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Breed
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.breed.name }}

            {% if animal.breed.code %}
            ({{ animal.breed.code }})
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if animal.status === "Active" %}
            <strong class="govuk-tag govuk-tag--green">
              Active
            </strong>
            {% elseif animal.status === "Sold" %}
            <strong class="govuk-tag govuk-tag--blue">
              Sold
            </strong>
            {% elseif animal.status === "Deceased" %}
            <strong class="govuk-tag govuk-tag--grey">
              Deceased
            </strong>
            {% else %}
            {{ animal.status }}
            {% endif %}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Dam details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dam type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.dam.type }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Genetic dam ear tag
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.dam.geneticDam.earTagNumber  | formatReference }}
          </dd>
        </div>

        {% if animal.dam.surrogateDam %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Surrogate dam ear tag
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.dam.surrogateDam.earTagNumber  | formatReference }}
          </dd>
        </div>
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">
        Sire details
      </h2>

      {% if animal.sire %}
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sire ear tag number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.sire.earTagNumber  | formatReference }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sire name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ animal.sire.name }}
          </dd>
        </div>
      </dl>
      {% else %}
      <p class="govuk-body">
        No sire details are recorded.
      </p>
      {% endif %}
      </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        {{offspring.length}} Offspring{% if offspring.length != 1%}s{%endif%}
      </h2>

      {% if offspring.length %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">
          Offspring of {{ animal.earTagNumber | formatReference }}
        </caption>

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">
            Ear tag number
          </th>

          <th scope="col" class="govuk-table__header">
            Date of birth
          </th>

          <th scope="col" class="govuk-table__header">
            Sex
          </th>

          <th scope="col" class="govuk-table__header">
            Breed
          </th>

          <th scope="col" class="govuk-table__header">
            Status
          </th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% for calf in offspring %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a
                    class="govuk-link"
                    href="./{{ calf.earTagNumber }}"
            >
              {{ calf.earTagNumber  | formatReference }}
            </a>
          </td>

          <td class="govuk-table__cell">
            {{ calf.dateOfBirth | shortDateFormat }}
          </td>

          <td class="govuk-table__cell">
            {{ calf.sex }}
          </td>

          <td class="govuk-table__cell">
            {{ calf.breed.name }}
          </td>

          <td class="govuk-table__cell">
            {{ calf.status }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="govuk-body">
        No offspring are recorded for this animal.
      </p>
      {% endif %}
    </div>
  </div>


{% endblock %}
