{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set pageName="Cattle register" %}

{% set activeNav = "my-holdings" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/animals-on-holding/v1/start",
    navigation: [
    {
    href: "./holdings",
    text: "Holdings",
    active: activeNav === "holdings"
    },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}



<div>
  <h1 class="govuk-heading-l">
    Holdings
  </h1>
</div>



  <div>

    {% block filterBar %}{% include "./components/_filter-bar.html" %}{% endblock %}

  <div>

    <p class="govuk-body" aria-live="polite">
        {% if search %}
        {{ holdings.length }}
        {% if holdings.length === 1 %}
        holding matches
        {% else %}
        holdings match
        {% endif %}
        <strong>‘{{ search }}’</strong>
        {% else %}
        {{ holdings.length }} holdings
        {% endif %}
    </p>

        {% if search %}
        <p class="govuk-body">
          <a class="govuk-link" href="./holdings">
            Clear search
          </a>
        </p>
        {% endif %}


      {% if holdings.length %}
      <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">
              Holdings search results
          </caption>

          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                  CPH
              </th>
              <th scope="col" class="govuk-table__header">
                  Holding name
              </th>
              <th scope="col" class="govuk-table__header">
                  Town or county
              </th>
              <th scope="col" class="govuk-table__header">
                  Postcode
              </th>
              <th scope="col" class="govuk-table__header">
                  Species
              </th>
              <th scope="col" class="govuk-table__header">
                  Status
              </th>
          </tr>
          </thead>

          <tbody class="govuk-table__body">
          {% for holding in holdings %}
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  <a
                          class="govuk-link"
                          href="./holdings/{{ holding.id }}"
                  >
                      {{ holding.cph }}
                  </a>
              </td>

              <td class="govuk-table__cell">
                  {{ holding.holdingName }}
              </td>

              <td class="govuk-table__cell">
                  {{ holding.address.town }}
                  <br>
                  <span class="govuk-hint govuk-!-margin-bottom-0">
              {{ holding.address.county }}
            </span>
              </td>

              <td class="govuk-table__cell">
                  {{ holding.address.postcode }}
              </td>

              <td class="govuk-table__cell">
                  {{ holding.species | join(", ") }}
              </td>

              <td class="govuk-table__cell">
                  {% if holding.status === "Active" %}
                  <strong class="govuk-tag govuk-tag--green">
                      Active
                  </strong>
                  {% elseif holding.status === "Inactive" %}
                  <strong class="govuk-tag govuk-tag--yellow">
                      Inactive
                  </strong>
                  {% elseif holding.status === "Closed" %}
                  <strong class="govuk-tag govuk-tag--grey">
                      Closed
                  </strong>
                  {% else %}
                  {{ holding.status }}
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
      {% else %}
      <p class="govuk-body">
          No holdings found.
      </p>
      {% endif %}

</div>
  </div>

{% endblock %}
