{% extends "layouts/main.html" %}

{% set pageName="Select how to register your animals" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/livestock-usability/v5/registration-method" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select how to register your animals
            </h1>
          </legend>
          <p class="govuk-body">Use the form to register your animals one at a time or use the template to upload multiple animals at the same time.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registration-method" name="registration-method" type="radio" value="online-form">
              <label class="govuk-label govuk-radios__label" for="registration-method">
                Register animals via online form
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registration-method-2" name="registration-method" type="radio" value="file-upload">
              <label class="govuk-label govuk-radios__label" for="registration-method-2">
                Register animals via file upload
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
