{% extends "layouts/main.html" %}

{% set pageName="Remove calf" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/livestock-usability/v7/remove-calf" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to cancel this registration?
            </h1>
          </legend>
          <p class="govuk-body">{{ data['ear-tag-number'] }}</p>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="/livestock-usability/v7/check-calf-details">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
