{% extends "layouts/main.html" %}

{% set pageName="Dam details" %}

{% block head %}
  {{ super() }}
  <link href="https://unpkg.com/accessible-autocomplete/dist/accessible-autocomplete.min.css" rel="stylesheet" media="all" />
  <style>
    .autocomplete__wrapper {
      flex: 1;
      min-width: 0;
    }
    .autocomplete__hint,
    .autocomplete__input,
    .autocomplete__option {
      font-family: arial, sans-serif;
      font-size: 1.1875rem;
    }
    .govuk-form-group--error .autocomplete__input {
      border-color: #d4351c;
    }
  </style>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Official animal ear tag number: UK 123456 {{ data['ear-tag-number'] }}</span>
    <h1 class="govuk-heading-l">Dam details</h1>

    {% if errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if errors['dam-type'] %}
            <li><a href="#dam-type">{{ errors['dam-type'] }}</a></li>
            {% endif %}
            {% if errors['dam-number'] %}
            <li><a href="#dam-number">{{ errors['dam-number'] }}</a></li>
            {% endif %}
            {% if errors['surrogate-dam-number'] %}
            <li><a href="#surrogate-dam-number">{{ errors['surrogate-dam-number'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form action="/livestock-usability/v4/dam-details" method="post" novalidate>

      <div class="govuk-form-group {% if errors['dam-type'] %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="dam-type-hint{% if errors['dam-type'] %} dam-type-error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Genetic or surrogate dam?
          </legend>
          <div id="dam-type-hint" class="govuk-hint">
            Select one option
          </div>
          {% if errors['dam-type'] %}
          <p id="dam-type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors['dam-type'] }}
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dam-type" name="dam-type" type="radio" value="genetic" data-aria-controls="conditional-genetic" {% if data['dam-type'] == 'genetic' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="dam-type">
                Genetic
              </label>
            </div>
            <div class="govuk-radios__conditional {% if data['dam-type'] != 'genetic' %}govuk-radios__conditional--hidden{% endif %}" id="conditional-genetic">
              <div class="govuk-form-group {% if errors['dam-number'] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="dam-number">
                  Genetic dam ear tag number
                </label>
                {% if errors['dam-number'] %}
                <p id="dam-number-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errors['dam-number'] }}
                </p>
                {% endif %}
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">UK 123456</div>
                  <select id="dam-number" name="dam-number" aria-describedby="{% if errors['dam-number'] %}dam-number-error{% endif %}">
                    <option value=""></option>
                    <option value="501100" {% if data['dam-number'] == '501100' %}selected{% endif %}>501100</option>
                    <option value="501101" {% if data['dam-number'] == '501101' %}selected{% endif %}>501101</option>
                    <option value="501102" {% if data['dam-number'] == '501102' %}selected{% endif %}>501102</option>
                    <option value="501103" {% if data['dam-number'] == '501103' %}selected{% endif %}>501103</option>
                    <option value="501104" {% if data['dam-number'] == '501104' %}selected{% endif %}>501104</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dam-type-2" name="dam-type" type="radio" value="surrogate" data-aria-controls="conditional-surrogate" {% if data['dam-type'] == 'surrogate' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="dam-type-2">
                Surrogate
              </label>
            </div>
            <div class="govuk-radios__conditional {% if data['dam-type'] != 'surrogate' %}govuk-radios__conditional--hidden{% endif %}" id="conditional-surrogate">
              <div class="govuk-form-group {% if errors['surrogate-dam-number'] %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="surrogate-dam-number">
                  Surrogate dam ear tag number
                </label>
                {% if errors['surrogate-dam-number'] %}
                <p id="surrogate-dam-number-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errors['surrogate-dam-number'] }}
                </p>
                {% endif %}
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">UK 123456</div>
                  <select id="surrogate-dam-number" name="surrogate-dam-number" aria-describedby="{% if errors['surrogate-dam-number'] %}surrogate-dam-number-error{% endif %}">
                    <option value=""></option>
                    <option value="601200" {% if data['surrogate-dam-number'] == '601200' %}selected{% endif %}>601200</option>
                    <option value="601201" {% if data['surrogate-dam-number'] == '601201' %}selected{% endif %}>601201</option>
                    <option value="601202" {% if data['surrogate-dam-number'] == '601202' %}selected{% endif %}>601202</option>
                    <option value="601203" {% if data['surrogate-dam-number'] == '601203' %}selected{% endif %}>601203</option>
                    <option value="601204" {% if data['surrogate-dam-number'] == '601204' %}selected{% endif %}>601204</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="https://unpkg.com/accessible-autocomplete/dist/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({ selectElement: document.querySelector('#dam-number') })
    accessibleAutocomplete.enhanceSelectElement({ selectElement: document.querySelector('#surrogate-dam-number') })
  </script>
{% endblock %}
