{% extends "layouts/main.html" %}

{% set pageName = "Movements" %}
{% set activeNav = "animals" %}

{% block header %}
{% block navBar %}{% include "../components/_navigation.html" %}{% endblock %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Registered animal</span>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      UK 251278 289382
    </h1>

    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <strong>Animal status:</strong> Alive
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <strong>Passport status:</strong> Valid
    </p>

    <nav class="moj-sub-navigation" aria-label="Animal navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}{{ contextQuery }}"
          >
            Animal details
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}/cattle-history{{ contextQuery }}"
          >
            Movements
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#">
            Event history
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Movement history</h2>

    <ol class="govuk-list app-event-results">

      <li
        class="app-event-card app-event-card--movement"
        id="movement-evt_0028"
      >
        <article>
          <div class="app-event-card__header">
            <h3 class="govuk-heading-s app-event-card__title">
              <span class="app-event-card__number" aria-hidden="true">1</span>
              <span>Movement <span class="govuk-visually-hidden">1</span></span>
            </h3>

            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>

          <div class="app-movement-card__route">

            <section class="app-movement-card__leg" aria-labelledby="movement-1-from">
              <h4 class="govuk-heading-s" id="movement-1-from">
                From 63/829/0276 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved off</dt>
                  <dd class="govuk-summary-list__value">8 July 2025, 9:12am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

            <div class="app-movement-card__arrow" aria-hidden="true">
              <span class="app-movement-card__arrow--horizontal">→</span>
              <span class="app-movement-card__arrow--vertical">↓</span>
            </div>

            <section class="app-movement-card__leg" aria-labelledby="movement-1-to">
              <h4 class="govuk-heading-s" id="movement-1-to">
                To 56/312/0056 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved on</dt>
                  <dd class="govuk-summary-list__value">8 July 2025, 11:24am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

          </div>
        </article>
      </li>

      <li
        class="app-event-card app-event-card--movement"
        id="movement-evt_2001"
      >
        <article>
          <div class="app-event-card__header">
            <h3 class="govuk-heading-s app-event-card__title">
              <span class="app-event-card__number" aria-hidden="true">2</span>
              <span>Movement <span class="govuk-visually-hidden">2</span></span>
            </h3>

            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>

          <div class="app-movement-card__route">

            <section class="app-movement-card__leg" aria-labelledby="movement-2-from">
              <h4 class="govuk-heading-s" id="movement-2-from">
                From 56/312/0056 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved off</dt>
                  <dd class="govuk-summary-list__value">10 November 2025, 9:06am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

            <div class="app-movement-card__arrow" aria-hidden="true">
              <span class="app-movement-card__arrow--horizontal">→</span>
              <span class="app-movement-card__arrow--vertical">↓</span>
            </div>

            <section class="app-movement-card__leg" aria-labelledby="movement-2-to">
              <h4 class="govuk-heading-s" id="movement-2-to">
                To 27/884/0106 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved on</dt>
                  <dd class="govuk-summary-list__value">10 November 2025, 11:18am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

          </div>
        </article>
      </li>

      <li
        class="app-event-card app-event-card--movement"
        id="movement-evt_2002"
      >
        <article>
          <div class="app-event-card__header">
            <h3 class="govuk-heading-s app-event-card__title">
              <span class="app-event-card__number" aria-hidden="true">3</span>
              <span>Movement <span class="govuk-visually-hidden">3</span></span>
            </h3>

            <strong class="govuk-tag govuk-tag--green">
              Complete
            </strong>
          </div>

          <div class="app-movement-card__route">

            <section class="app-movement-card__leg" aria-labelledby="movement-3-from">
              <h4 class="govuk-heading-s" id="movement-3-from">
                From 27/884/0106 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved off</dt>
                  <dd class="govuk-summary-list__value">4 March 2026, 9:21am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

            <div class="app-movement-card__arrow" aria-hidden="true">
              <span class="app-movement-card__arrow--horizontal">→</span>
              <span class="app-movement-card__arrow--vertical">↓</span>
            </div>

            <section class="app-movement-card__leg" aria-labelledby="movement-3-to">
              <h4 class="govuk-heading-s" id="movement-3-to">
                To 15/628/0067 (<abbr title="Agricultural holding">AH</abbr>)
              </h4>

              <dl class="govuk-summary-list govuk-summary-list--no-border app-movement-card__details">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Moved on</dt>
                  <dd class="govuk-summary-list__value">4 March 2026, 11:37am</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reported by</dt>
                  <dd class="govuk-summary-list__value">Keeper</dd>
                </div>
              </dl>
            </section>

          </div>
        </article>
      </li>

    </ol>

    <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">
      Current position
    </h3>

    <p class="govuk-body">
      This animal is alive and is currently recorded at
      <strong>15/628/0067 (<abbr title="Agricultural holding">AH</abbr>)</strong>.
    </p>

  </div>
</div>

{% endblock %}
