{% extends "layouts/main.html" %}

{% set pageName = "Movements" %}
{% set activeNav = "animals" %}

{% block header %}
{% block navBar %}{% include "../components/_navigation.html" %}{% endblock %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Registered animal</span>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      UK 132588 101360
    </h1>

    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <strong>Animal status:</strong> Alive
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <strong>Passport status:</strong> Valid
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a
        href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}/update{{ contextQuery }}"
        class="govuk-link"
      >
        Update animal record
      </a>
    </p>

    <nav class="moj-sub-navigation" aria-label="Animal navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}{{ contextQuery }}"
          >
            Animal details
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}/cattle-history{{ contextQuery }}"
          >
            Movements
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#">
            Event history
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">

    <h2 class="govuk-heading-m">Movement history</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      No movement history recorded
    </h3>

    <p class="govuk-body">
      This animal is alive and is currently recorded at
      <strong>67/703/4558 (<abbr title="Agricultural holding">AH</abbr>)</strong>.
    </p>


    <a
      href="/{{ baseURL }}/cattle/{{ animal.earTagNumber }}/movements/add{{ contextQuery }}"
      role="button"
      draggable="false"
      class="govuk-button"
      data-module="govuk-button"
    >
      Add a movement record
    </a>

  </div>
</div>

{% endblock %}
