<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="GET" >
      <div class="search-wrapper govuk-form-group">
        <label for="search-reservations" class="govuk-label">
          Search or filter by ear tag, bread name or gender
        </label>
        <div class="search-input-wrapper">
          <input type="search" value="" id="search-reservations" name="search" title="Search" class="govuk-input">
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
<!--  <div class="govuk-grid-column-one-third">-->
<!--    <div class="defra-filter&#45;&#45;action" >-->
<!--      <button id="defra-filter&#45;&#45;button" class="govuk-button govuk-button&#45;&#45;secondary govuk-!-margin-top-6 " type="button" aria-expanded="false"><span class="defra-filter&#45;&#45;button-content">Show filters</span><span-->
<!--          class="defra-filter__icon"></span></button>-->
<!--    </div>-->
<!--  </div>-->
</div>
