{% extends "layouts/main.html" %}

{% set pageName="Register a calf" %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">
    Livestock Information Service
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="global-search">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="/livestock-usability/v2/register-an-animal">
            Register an animal
          </a>
        </h2>
        <p class="govuk-body card__description">
          Record cattle births, or sheep, goats, deer and camelids on your holding.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Register an animal movement
          </a>
        </h2>
        <p class="govuk-body card__description">
          Record on and off movements for your holding.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="use-of-force">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Register an animal death
          </a>
        </h2>
        <p class="govuk-body card__description">
          Record a death of a registered or unregistered animal.
        </p>
      </div>
    </li>
  </ul>
</div>

{% endblock %}
