{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

  {{ govukHeader({
    homepageUrl: '/index.html'
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Livestock Information",
    serviceUrl: "/mvp-front-office/v1/overview",
    navigation: [
    {
    href: "/mvp-front-office/v1/my-profile",
    text: "My profile"
    },
    {
    href: "https://www.gov.uk/government/organisations/british-cattle-movement-service",
    text: "Help and guidance",
    attributes: {
      target: "_blank"
    }
    }
    ],
    slots: {
      navigationEnd: '<li class="govuk-service-navigation__item app-service-navigation__item--right"><a class="govuk-service-navigation__link" href="/mvp-front-office/v1/one-login">Sign out</a></li>'
    }
  }) }}

{% endblock %}

{% set pageName="Select submission type" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: errors['submission-type'],
            href: "#submission-type"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/mvp-front-office/v1/register-animal/submission-type" method="post">

      {{ govukRadios({
        name: "submission-type",
        fieldset: {
          legend: {
            text: "What would you like to do?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: { text: errors['submission-type'] } if errors,
        items: [
          {
            value: "birth",
            text: "Register a cattle birth",
            checked: data['submission-type'] === "birth"
          },
          {
            value: "movement",
            text: "Report an animal movement",
            checked: data['submission-type'] === "movement"
          },
          {
            value: "death",
            text: "Report an animal death",
            checked: data['submission-type'] === "death"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
