
{% extends "layouts/main-backoffice.html" %}

{% set pageName = "Livestock back office v3 prototype" %}

{% block content %}
<div class="govuk-phase-banner govuk-width-container" style="margin-top:-30px; margin-bottom:30px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      These are conceptual prototypes, not a finalised service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Livestock back office - steel thread version 3
    </h1>
    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">Release candidate</strong>
    <p class="govuk-body-l">
      This is a limited-scope prototype covering holdings and animals currently recorded on a holding.
    </p>


    <h2 class="govuk-heading-m">
      Search holdings
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="./holdings">
          Search holdings
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./holdings?search=12%2F345%2F0001">
          Search results - exact CPH match
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./holdings?search=farm">
          Search results - multiple holdings
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Holding details
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="./holdings/holding-001">
          View an example holding
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./holdings/holding-002">
          View a holding with multiple herd marks
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Animals on a holding
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="./holdings/holding-001/cattle-register">
          View animals currently recorded at a holding
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./holdings/holding-001/cattle-register?search=12">
          Search animals on a holding
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Animals details page
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="./cattle/UK017373777279?fromHolding=holding-001">
          View animals details
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./cattle/UK551643261039?fromHolding=holding-001">
          View animal details - has surrogate and sire details
        </a>
      </li>

      <li>
        <a class="govuk-link" href="./cattle/UK132588101360?fromHolding=holding-001">
          View animal details - born on holding
        </a>
      </li>
    </ul>

    <div class="govuk-inset-text">
      All data in this prototype is fictional and should not be treated as
      real livestock, holding or customer information.
    </div>

  </div>
</div>

{% endblock %}
