{% extends "layouts/main.html" %}


{% set pageName=holding.holdingName %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "holding-details" %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/report-and-view-alpha/v1/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/report-and-view-alpha/v1/my-holdings">My holdings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{ holding.holdingName if holding.holdingName else holding.cph }}
    </li>
  </ol>
</nav>

{% endblock %}

{% block header %}

    {% include "report-and-view-alpha/v1/partials/header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        {% include "report-and-view-alpha/v1/partials/my-holdings-sidebar.html" %}
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
         <!-- {{ holding.holdingName }}-->
            Holding overview
        </h1>

          <nav class="moj-sub-navigation" aria-label="Sub navigation">
              <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" aria-current="page" href="/report-and-view-alpha/v1/my-holdings/holding-details">Holding details</a>
                  </li>
                  <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="/report-and-view-alpha/v1/my-holdings/animals-on-holding">
                          Animals on holding
                      </a>
                  </li>
                  <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="/report-and-view-alpha/v1/my-holdings/animal-error-record">
                          Animal error record
                      </a>
                  </li>
              </ul>
          </nav>

        <div class="govuk-grid-row govuk-!-margin-bottom-0">

          <div class="govuk-grid-column-one-half">
            <div class="card govuk-!-margin-bottom-0">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                  <a href="/report-and-view-alpha/v1/my-holdings/animals-on-holding" class="govuk-link govuk-link--no-visited-state app-card-link--header">
                    Animals on holding
                  </a>
                </h3>
                <h4 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                  18
                </h4>
                <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  View livestock on this holding
                </p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="card govuk-!-margin-bottom-0">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="http://localhost:3000/report-and-view-alpha/v1/my-holdings/animal-error-record" class="govuk-link govuk-link--no-visited-state app-card-link--header">
                  Open issues
                </a>
              </h3>
              <h4 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                3
              </h4>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                Review issues requiring attention
              </p>
            </div>
          </div>

        </div>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">
        Key tasks
      </h2>

      <ul class="govuk-list govuk-!-margin-bottom-0">
        <li class="service-link govuk-!-margin-bottom-0">
          <div class="service-link__name">
            <a href="/report-and-view-alpha/v1/register-animal/calf-details" class="service-link__overlay-link govuk-link govuk-link--no-visited-state govuk-body govuk-!-font-weight-bold govuk-!-margin-0">
              Register a calf birth
            </a>
          </div>
          <div class="chevron"></div>
        </li>

        <li class="service-link govuk-!-margin-bottom-0">
          <div class="service-link__name">
            <a href="/report-and-view-alpha/v1/my-holdings/animal-error-record" class="service-link__overlay-link govuk-link govuk-link--no-visited-state govuk-body govuk-!-font-weight-bold govuk-!-margin-0">View animal error record</a>
          </div>
          <div class="chevron"></div>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">
          Recent activity
      </h2>
      <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Activity</th>
              <th scope="col" class="govuk-table__header">Reporter</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">22 Apr 2026</td>
              <td class="govuk-table__cell">Added michael.turner@example.com as a Keeper delegate</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 Mar 2026</td>
              <td class="govuk-table__cell">Added helen.price@example.com as a Keeper delegate</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">3 Feb 2026</td>
              <td class="govuk-table__cell">Added peter.clarke@example.com as an Agent delegate</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">21 Aug 2025</td>
              <td class="govuk-table__cell">Registered a cattle birth - UK 324537 113269</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">3 Aug 2025</td>
              <td class="govuk-table__cell">Registered a cattle birth - UK 324537 113268</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">16 Jul 2025</td>
              <td class="govuk-table__cell">Registered a cattle birth - UK 324537 113267</td>
              <td class="govuk-table__cell">James Williams</td>
          </tr>
          </tbody>
      </table>
      <p class="govuk-body">
          <a class="govuk-link" href="/report-and-view-alpha/v1/my-holdings/activity-history">View all activity</a>
      </p>

      </div>

    </div>

  </div>
</div>

{% endblock %}
