{% extends "layouts/main.html" %}


{% set pageName="Manage delegates" %}
{% set activeNavItem = "my-holdings" %}
{% set sideNavActive = "manage-delegates" %}

{% block header %}

  {% include "report-and-view-alpha/v1/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/report-and-view-alpha/v1/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/report-and-view-alpha/v1/my-holdings">My holdings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/report-and-view-alpha/v1/my-holdings/holding-details">
        {{ holding.holdingName if holding.holdingName else holding.cph }}
      </a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {% include "report-and-view-alpha/v1/partials/my-holdings-sidebar.html" %}
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l govuk-!-static-margin-bottom-4">
          Manage delegates
        </h1>

        <p class="govuk-body">
          Add new or remove existing delegates who can manage your holding. If you remove a delegate, they will no longer be able to access your holding details.
        </p>

        <a href="/report-and-view-alpha/v1/manage-delegates/add-email" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Add new delegate
        </a>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Delegates</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Email</th>
              <th scope="col" class="govuk-table__header">Date added</th>
              <th scope="col" class="govuk-table__header">Role</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for delegate in delegates %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="/report-and-view-alpha/v1/manage-delegates/view/{{ delegate.id }}">{{ delegate.email }}</a></td>
              <td class="govuk-table__cell">{{ delegate.dateAdded }}</td>
              <td class="govuk-table__cell">{{ delegate.role }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

{% endblock %}
