{% extends "layouts/main.html" %}

{% set pageName="What is your delegate's email address" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/add-a-delegate/manage-access" method="post" novalidate>
            {{ govukInput({
            label: {
            text: "What is your delegate's email address?",
            isPageHeading: true,
            classes: "govuk-label--l"
            },
            hint: {
            text: "We’ll send an email invitation to this address"
            },
            id: "email-address",
            name: "email-address",
            value: data['email-address'],
            autocomplete: "name",
            spellcheck: false
            }) }}

            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>
{% endblock %}
