{% extends "layouts/main.html" %}


{% set pageName="Contact the British Cattle Movement Service (BCMS)" %}

{% block header %}

  {% include "mvp-front-office/v5/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v5/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Contact the British Cattle Movement Service (BCMS)
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Contact the British Cattle Movement Service (BCMS)
        </h1>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                Curwen Road<br>
                Derwent Howe<br>
                Workington<br>
                Cumbria<br>
                CA14 2DD<br>
                United Kingdom
              </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:bcmsenquiries@rpa.gov.uk">bcmsenquiries@rpa.gov.uk</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              BCMS helpline
            </dt>
            <dd class="govuk-summary-list__value">
              0345 050 1234
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Helpline for cattle keepers in Wales
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">0345 050 3456</p>
            </dd>
          </div>
        </dl>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">
          Helpline opening hours
        </h2>

        <p class="govuk-body">
          Normal BCMS helpline opening hours: Monday to Friday 8:30am to 5pm, closed weekends and bank holidays. All calls charged at local rate.
        </p>

        <h2 class="govuk-heading-m">
          Webchat service
        </h2>

        <p class="govuk-body">
          You can also speak to an advisor on webchat. Webchat is only available in the English language at the following URL: <a href="https://british-cattle-movement-guidance.service.gov.uk/" target="_blank">https://british-cattle-movement-guidance.service.gov.uk</a>
        </p>

      </div>
    </div>

  </div>
</div>

{% endblock %}
