{% extends "layouts/main.html" %}

{% set activeNavItem = "my-profile" %}

{% set pageName="My profile" %}

{% block header %}

  {% include "mvp-front-office/v5/partials/header.html" %}

{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/mvp-front-office/v5/overview">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      My profile
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    My profile
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">James Williams</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">jtwilliams@gmail.com</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Phone number</dt>
          <dd class="govuk-summary-list__value">07700 900000</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Password</dt>
          <dd class="govuk-summary-list__value">••••••••</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>
        </div>

      </dl>

    </div>
  </div>
</div>

{% endblock %}
