{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many calf births do you want to report?
      </h1>
      <form class="form" action="/cattle-birth/eartag-id" method="post">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
   
  </legend>
  <div class="govuk-form-group">

<div class="govuk-form-group">
  <div id="account-number-hint" class="govuk-hint">
    We could suggest a maximum to report in one session to avoid user fatigue?
  </div>
  <input class="govuk-input govuk-input--width-4" id="width-4" name="width4" type="text">
</div>

</fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
