{% extends "layouts/main.html" %}

{% set pageName="Livestock Information Service (LIS) for cattle" %}

{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Food and farming",
        href: "#"
      },
      {
        text: "Keeping farmed animals",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Livestock Information Service (LIS) for cattle
      </h1>

      <p class="govuk-body">
        Report cattle births, movements and deaths, browse your animal’s digital record and manage your holding details.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Report births, deaths and movements of your cattle</li>
        <li>Maintain an online record of animals on your holding</li>
        <li>View an animal's digital record</li>
        <li>Edit animal details (where allowed)</li>
        <li>View and update your holding details</li>
      </ul>

      <h2 class="govuk-heading-m">Sign in or create an account</h2>

      <p class="govuk-body">
        You’ll need to sign into your Defra account to use the Livestock Information Service. If you do not have an account, you will be able to create one.
      </p>

      <p class="govuk-body">To create an account, you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your County Parish Holding (CPH) number</li>
        <li>your email address associated with the CPH number</li>
        <li>to be registered as a cattle keeper with the Rural Payments Agency (RPA) and the Animal and Plant Health Agency (APHA)</li>
      </ul>

      <a href="/steel-thread/v1/one-login" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m">
        About the Livestock Information Service
      </h2>

      <p class="govuk-body">
        The Livestock Information Service (LIS) is the official cattle traceability service for England – replacing the Cattle Tracing System (CTS) managed by the British Cattle Movement Service (BCMS).
      </p>

      <p class="govuk-body">
        LIS provides a secure, single sign-on platform for livestock keepers and those across the supply chain to report cattle births, movements and deaths in England.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/get-a-cattle-passport">
                Apply for, correct or replace a cattle passport
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/collections/keeping-cattle-bison-and-buffalo-in-england-and-wales">
                Keeping cattle, bison and buffalo in England and Wales
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/moving-cattle-what-cattle-keepers-need-to-know">
                Moving cattle: what cattle keepers need to know
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/publications/template-holding-register-for-cattle-keepers">
                Template holding register for cattle keepers
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
