{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Destination holding
      </h1>

      <form class="form" action="/version1/cph-search" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="destination" name="destination" type="radio" value="recent">
        <label class="govuk-label govuk-radios__label" for="destination">
          Choose a recently used holding
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="destination-2" name="destination" type="radio" value="cph">
        <label class="govuk-label govuk-radios__label" for="destination-2">
          Find the holding by County Parish Holding (CPH) number
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="destination-3" name="destination" type="radio" value="manual">
        <label class="govuk-label govuk-radios__label" for="destination-3">
          Search manually
        </label>
      </div>
      
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
