{% extends "layouts/main.html" %}

{% set pageName="Register a calf" %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">
    Livestock Information Service
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="global-search">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="/livestock-usability/v3/cattle-registration-service">
            Cattle
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Sheep
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Pigs
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Goats
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Deer
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">
            Camelids
          </a>
        </h2>
        <p class="govuk-body card__description">
          Donec tristique velit pellentesque fringilla tincidunt.
        </p>
      </div>
    </li>
  </ul>
</div>

{% endblock %}
