{% extends "layouts/main.html" %}


{% block header %}

  {% include "mvp-front-office/v5/partials/header.html" %}

{% endblock %}

{% set pageName="Submission details" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Submission details</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reference number</dt>
        <dd class="govuk-summary-list__value">{{ registration.reference }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Submission date</dt>
        <dd class="govuk-summary-list__value">{{ registration.dateRegistered | shortDateFormat }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total animals</dt>
        <dd class="govuk-summary-list__value">{{ registration.total }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">Cattle birth registration</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value"><strong class="govuk-tag {{ registration.statusClass }}">{{ registration.status }}</strong></dd>
      </div>
      {% if not registration.isPending %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Outstanding errors</dt>
        <dd class="govuk-summary-list__value">{{ registration.errorCount }}</dd>
      </div>
      {% endif %}
    </dl>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Animals registered</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Ear tag number</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
          <th scope="col" class="govuk-table__header">Age</th>
          <th scope="col" class="govuk-table__header">Date on holding</th>
          <th scope="col" class="govuk-table__header">Sex</th>
          <th scope="col" class="govuk-table__header">Breed</th>
          {% if not registration.isPending %}
          <th scope="col" class="govuk-table__header">Errors</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for animal in registration.animals %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="#">{{ animal.earTagNumber | formatReference }}</a></td>
          <td class="govuk-table__cell">{{ animal.dateOfBirth | shortDateFormat }}</td>
          <td class="govuk-table__cell">{{ animal.dateOfBirth | animalAge }}</td>
          <td class="govuk-table__cell">{{ animal.dateOnHolding | shortDateFormat }}</td>
          <td class="govuk-table__cell">{{ animal.sex }}</td>
          <td class="govuk-table__cell"><abbr title="{{ animal.breed }}">{{ animal.breedCode }}</abbr><span class="govuk-visually-hidden">, {{ animal.breed }}</span></td>
          {% if not registration.isPending %}
          <td class="govuk-table__cell">{{ animal.errors }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
