{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% set currentBaseUrl = '/' + baseURL + '/' %}

{% if query.fromSearch %}
  <a
          class="govuk-back-link"
          href="/{{baseURL}}/holdings?search={{ query.fromSearch | urlencode }}"
  >
    Return to search results
  </a>
{% elseif query.fromHolding %}
  <a
          class="govuk-back-link"
          href="/{{baseURL}}/holdings/{{ query.fromHolding }}{% if query.fromSearch %}?fromSearch={{ query.fromSearch | urlencode }}{% endif %}"
  >
    Return to holding {{ query.holdingCph }}
  </a>
{% else %}
  <a
          class="govuk-back-link"
          href="/{{baseURL}}/holdings"
  >
    Find a holding
  </a>
{% endif %}

{% endblock %}