{% extends "layouts/main.html" %}

{% block pageTitle %}
  Select sheep – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Choose which adult sheep to move
      </h1>
    </div></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
   <div class="govuk-form-group">
  <label class="govuk-label" for="three-quarters">
    <h2 class="govuk-heading-m">Search for keywords</h2>
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
</div>
  </div>
<div class="govuk-grid-column-two-thirds">
      <form class="form" action="/movements/version2/sheep-review" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <div id="sheep-hint" class="govuk-hint">
      <h3 class="govuk-heading-m">Select from your holding list</h3>
    </div>
    </legend>

    <p class="govuk-body">
  <a href="#" id="select-all" class="govuk-link govuk-link--no-visited-state">Select all</a>
</p>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <script>
        (function() {
          var selectAllLink = document.getElementById('select-all');
          if (!selectAllLink) return;
          selectAllLink.addEventListener('click', function(event) {
            event.preventDefault();
            var form = selectAllLink.closest('form');
            if (!form) return;
            form.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
              checkbox.checked = true;
            });
          });
        })();
      </script>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          UK 123456 10000
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          UK 123456 10001
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          UK 123456 10002
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          UK 123456 10003
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="organisation-5">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
          UK 123456 10004
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="organisation-6">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
          UK 123456 10005
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox" value="organisation-7">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
          UK 123456 10006
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-8" name="organisation" type="checkbox" value="organisation-8">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
          UK 123456 10007
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-9" name="organisation" type="checkbox" value="organisation-9">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-9">
          UK 123456 10008
        </label>
        
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-10" name="organisation" type="checkbox" value="organisation-10">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-10">
          UK 123456 10009
        </label>
        
      </div>

      <br>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Do you need to add any new sheep?
      </h2>
    </legend>
    <div id="changedName-hint" class="govuk-hint">
      If they are not in your holding list, you will need to add them before you can move them.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
      <br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  </div>


{% endblock %}
