{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Alpha"
},
text: "This is a new service. We're still working on ways to improve it."
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Livestock Service Prototypes
    </h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/">Front office</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/back-office">Back office</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/archive">Archive</a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Current prototypes</h2>

    <p class="govuk-body">
      We are developing two back office prototypes in parallel.
      The MVP prototype explores a fuller version of the service for usability testing.
      The Steel thread is a stripped-back version covering the core journeys.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">September 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/mvp/v1/" class="govuk-link">
        MVP - version 1
      </a>
    </h3>

    <p class="govuk-body">
      A stripped back version of <a href="livestock-back-office/exploratory/v3/" class="govuk-link"> Exploratory - version 3
      </a>. This should be seen as a fuller prototype building on the Steel thread and selected exploratory work.
      The current focus includes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>updated animal search results, including stuatus, more inline with data points</li>
      <li>changes to the animal details page</li>
      <li>birth place added to animal details, with dam and sire moved higher in the page</li>
      <li>changes to the holding details with introduction of registered keeper details</li>
    </ul>

    <p class="govuk-body">
      <strong>Current fuller prototype for usability testing</strong>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">August 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/steel-thread/v3/" class="govuk-link">
        Steel thread - version 3
      </a> <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Release candidate</strong>
    </h3>

    <p class="govuk-body">
      Stripped-back prototype covering the core back office journeys.
      This version was used as the starting point for MVP version 1.
    </p>

    <p class="govuk-body">
      <strong>Awaiting usability test</strong>
    </p>


    <h2 class="govuk-heading-l govuk-!-margin-top-9">Previous Steel thread versions</h2>

    <p class="govuk-body">
      Earlier versions of the stripped-back Steel thread prototype.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">September 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/steel-thread/v2/" class="govuk-link">
        Steel thread - version 2
      </a>
    </h3>

    <p class="govuk-body">
      Full initial version for finding and viewing records, designed after the initial session at the BCMS office.
      It includes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>animal search and animal details</li>
      <li>animal history</li>
      <li>holding search and details based on the front office</li>
      <li>keeper search</li>
    </ul>

    <p class="govuk-body">
      <strong>Reviewed by BCMS on 9 September 2026</strong>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">July 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/steel-thread/v1/" class="govuk-link">
        Steel thread - version 1
      </a>
    </h3>

    <p class="govuk-body">
      Basic version adding a search around the front office Steel thread version 1.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>holding search</li>
      <li>holding details based on the front office</li>
      <li>animal details</li>
    </ul>

    <p class="govuk-body">
      <strong>Not tested</strong>
    </p>


    <h2 class="govuk-heading-l govuk-!-margin-top-9">Exploratory work</h2>

    <p class="govuk-body">
      Earlier design explorations used to test ideas before they were taken into the Steel thread or MVP.
      These are not current service versions.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-!-margin-bottom-1">September 2026</p>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/exploratory/v3/global-search-options" class="govuk-link">
        Global search designs
      </a>
    </h3>

    <p class="govuk-body">
      We explored different ways to search across animals, holdings and keepers from one place.
    </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-!-margin-bottom-1">September 2026</p>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/exploratory/v3/" class="govuk-link">
        Exploratory - version 3
      </a>
    </h3>
    <p class="govuk-body">
      Exploratory designs mainly around animal history, movements and activity. This was MVP version 1 but was that was stripped back.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">July to September 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="livestock-back-office/exploratory/v3/" class="govuk-link">
        Exploratory - version 2
      </a>
    </h3>

    <p class="govuk-body">
      Exploratory designs mainly around searching, viewing and filtering records. This includes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>searching records</li>
      <li>filters</li>
      <li>issues</li>
      <li>activity</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-!-margin-bottom-1">June 2026</p>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a href="/livestock-back-office/exploratory/v1/" class="govuk-link">
        Exploratory - version 1
      </a>
    </h3>

    <p class="govuk-body">
      Initial look at search.
    </p>

  </div>
</div>

{% endblock %}
