{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-phase-banner govuk-width-container" style="margin-top:-30px; margin-bottom:30px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      These are conceptual prototypes, not a finalised service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
          Livestock Service Prototypes
      </h1>

      <nav class="moj-sub-navigation" aria-label="Sub navigation">
          <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="/">Current</a>
              </li>
              <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="/archive">Archive</a>
              </li>
          </ul>
      </nav>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Front office</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Tags</th>
        <th scope="col" class="govuk-table__header">Author</th>
        <th scope="col" class="govuk-table__header">Link</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">August 2026</th>
       <td class="govuk-table__cell">Cattle birth registration</td>
       <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">Alpha assessment</strong></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/cattle-birth-registration-alpha/overview" class="govuk-link">Version 1</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">August 2026</th>
       <td class="govuk-table__cell">Report and view livestock information</td>
       <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">Alpha assessment</strong></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/report-and-view-alpha/v1/auth/start" class="govuk-link">Version 1</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">August 2026</th>
       <td class="govuk-table__cell">Steel Thread – errors</td>
         <td class="govuk-table__cell"></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/steel-thread-errors/start" class="govuk-link">Version 1</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">August 2026</th>
       <td class="govuk-table__cell">Steel Thread</td>
       <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Release candidate</strong></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/steel-thread/v3/holding-details" class="govuk-link">Version 3</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">July 2026</th>
       <td class="govuk-table__cell">Steel Thread</td>
       <td class="govuk-table__cell"><strong class="govuk-tag">UR round 2</strong></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/steel-thread/v2/start" class="govuk-link">Version 2</a></td>
     </tr>
     <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header">June 2026</th>
       <td class="govuk-table__cell">Front-end</td>
       <td class="govuk-table__cell"><strong class="govuk-tag">UR round 1</strong></td>
       <td class="govuk-table__cell">Jamie Hylands</td>
       <td class="govuk-table__cell"><a href="/livestock-usability/v5/start" class="govuk-link">Version 5</a></td>
     </tr>
      </tbody>
    </table>

      <hr class="govuk-section-break govuk-section-break--l">

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Back office</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Tags</th>
        <th scope="col" class="govuk-table__header">Author</th>
        <th scope="col" class="govuk-table__header">Link</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">July 2026</th>
        <td class="govuk-table__cell">Find and view details</td>
        <td class="govuk-table__cell"> <strong class="govuk-tag">MVP</strong></td>
        <td class="govuk-table__cell">Richard Hatton</td>
        <td class="govuk-table__cell"><a href="livestock-back-office/steal-thread/v2/" class="govuk-link">Version 2</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">July 2026</th>
        <td class="govuk-table__cell">Search and view holdings</td>
        <td class="govuk-table__cell"> <strong class="govuk-tag">MVP</strong></td>
        <td class="govuk-table__cell">Richard Hatton</td>
        <td class="govuk-table__cell"><a href="livestock-back-office/steal-thread/v1/" class="govuk-link">Version 1</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">July 2026</th>
        <td class="govuk-table__cell">Search multiple areas</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">Richard Hatton</td>
        <td class="govuk-table__cell"><a href="livestock-back-office/exploratory/v2/" class="govuk-link">Version 2</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">June 2026</th>
        <td class="govuk-table__cell">Initial structure</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">Richard Hatton</td>
        <td class="govuk-table__cell"><a href="livestock-back-office/steal-thread/v1/" class="govuk-link">Version 1</a></td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">June 2026</th>
          <td class="govuk-table__cell">Back office</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Richard Hatton</td>
          <td class="govuk-table__cell"><a href="/livestock-usability/v6/start" class="govuk-link">Version 6</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
