{% extends "layouts/main.html" %}

{% set pageName="Deaths recorded for reporting" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set completedDeaths = data['completed-deaths'] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Report cattle deaths
    </h1>

    {% if errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if errors['add-more-deaths'] %}
            <li><a href="#add-more-deaths">{{ errors['add-more-deaths'] }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

 <!--   <p class="govuk-body">
      Select the tag number from the list to review animal details.
    </p>-->

    {% if completedDeaths and completedDeaths.length > 0 %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Tag number</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for death in completedDeaths %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/livestock-usability/v4/report-death/check-death-details">UK 123456 {{ death.tag }}</a>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if death.tag and death.date %}
              <strong class="govuk-tag govuk-tag--green">Completed</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="govuk-body">No deaths have been recorded.</p>
    {% endif %}

    <form class="form" action="/livestock-usability/v4/report-death/add-more-deaths" method="post">
      <div class="govuk-form-group {% if errors['add-more-deaths'] %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="{% if errors['add-more-deaths'] %}add-more-deaths-error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you need to report additional animals?
          </legend>
          {% if errors['add-more-deaths'] %}
          <p id="add-more-deaths-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors['add-more-deaths'] }}
          </p>
          {% endif %}
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-more-deaths" name="add-more-deaths" type="radio" value="yes" {% if data['add-more-deaths'] == 'yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="add-more-deaths">Yes</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-more-deaths-2" name="add-more-deaths" type="radio" value="no" {% if data['add-more-deaths'] == 'no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="add-more-deaths-2">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>

{% endblock %}
