{% extends "layouts/main.html" %}

{% set pageName="Select animal type" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/livestock-usability/v4/report-death/animal-select" method="post">

      <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="{% if errors %}death-animal-type-error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which species would you like to report a death for?
            </h1>
          </legend>
          {% if errors %}
          <p id="death-animal-type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors['death-animal-type'] }}
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-animal-type" name="death-animal-type" type="radio" value="cattle" {% if data['death-animal-type'] == 'cattle' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-animal-type">
                Cattle
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-animal-type" name="death-animal-type" type="radio" value="cattle" {% if data['death-animal-type'] == 'cattle' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-animal-type">
                Sheep
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-animal-type" name="death-animal-type" type="radio" value="cattle" {% if data['death-animal-type'] == 'cattle' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-animal-type">
                Goats
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="death-animal-type-2" name="death-animal-type" type="radio" value="camelids" {% if data['death-animal-type'] == 'camelids' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-animal-type-2">
                Camelids
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>

{% endblock %}
