{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add another calf – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Would you like to add another calf?</h1>

      <form class="form" action="/cattle-birth/v2/cya" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
  
    
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="calf1embryo" name="calf1embryo" type="radio" value="yes" data-aria-controls="search-conditional">
        <label class="govuk-label govuk-radios__label" for="calf1embryo">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="calf1embryo-2" name="calf1embryo" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="calf1embryo-2">
          No
        </label>
      </div>
    </div>
  </div>

    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="search-conditional">

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is the calf a sibling of the one you just entered?
      </h1>
    </legend>
    <div id="changedName-hint" class="govuk-hint">
      If it's a sibling, this will auto-complete some of the details for you.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>    

  </div>
  </div>
  </div>
</fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
