{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Do you want to register a single calf birth or more than one?
      </h1>
      <form class="form" action="/cattle-birth/v2/calf-details" method="post">

<div class="govuk-form-group">

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="quantity-1" name="quantity" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="quantity-1">
          Single
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="quantity-2" name="quantity" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="quantity-2">
          More than one
        </label>
      </div>
    </div>
    </div>
    </fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
