{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the postcode associated with this holding (37/989/0999)? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/claim-a-holding/recorded-species" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="event-name">
                What is the postcode associated with this holding (37/989/0999)?
              </label>
            </h1>
            <div id="event-name-hint" class="govuk-hint">
              Please provide without spaces. For example, OX184QU.
            </div>
            <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
