{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set bodyClasses = "app-caseworker" %}
{% block header %}

{{ govukHeader({
homepageUrl: '/index.html'
}) }}

<!--<header role="banner" class="defra-internal-header">-->

<!--  <div class="defra-logo">-->
<!--    <a href="/" class="defra-logo__link">-->
<!--      <span class="c-defra-logo__title">-->
<!--        Department for Environment, Food &amp; Rural Affairs-->
<!--      </span>-->
<!--    </a>-->
<!--  </div>-->

<!--  <div class="defra-internal-service-name">-->
<!--    <a-->
<!--            href="/{{ baseURL }}/"-->
<!--            class="defra-internal-service-name__link"-->
<!--    >-->
<!--      Livestock Traceability-->
<!--    </a>-->
<!--  </div>-->

<!--</header>-->

{{ govukServiceNavigation({
serviceName: "Livestock Traceability",
serviceUrl: "#",
navigation: [

]
}) }}
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
