{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader({
        homepageUrl: '/index.html'
    }) }}

    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Livestock Traceability",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Report a birth"
    },
    {
      href: "#",
      text: "Report a movement"
    },
    {
      href: "/cattle-birth/activity-history.html",
      text: "Activity history",
      active: true
    }
  ]
}) }}

{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
